@charset "utf-8";
/*--------------------------------------------------------------
  common.html 설정 값
--------------------------------------------------------------*/
.common-container dl > dd > div {
  margin: 25px 0;
}
.common-container dl > dd > p {
  margin: 25px 0;
}

/*--------------------------------------------------------------
  메인비쥬얼, 서브비쥬얼 내 공통 검색바
--------------------------------------------------------------*/
.common-main-search {
  width: 980px;
  margin: 0 auto;
}
.common-main-search .tab {
  width: 204px;
  margin: 0 0 15px;
  border-radius: 3px;
  overflow: hidden;
}
.common-main-search .tab:after {
  display: block;
  content: "";
  clear: both;
}
.common-main-search .tab a {
  display: block;
  float: left;
  width: 102px;
  height: 40px;
  line-height: 38px;
  font-size: 17px;
  font-weight: 500;
  color: #8d8d8d;
  text-align: center;
  background: #393939;
}
.common-main-search .tab a.current {
  color: #000;
  background: #f69412;
}
.common-main-search .main-input_search {
  position: relative;
}
.common-main-search .main-input_search input[type="search"] {
  width: 100%;
  height: 56px;
  padding: 0 21px;
  font-size: 19px;
  font-weight: 500;
  background: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  outline: 0;
}
.common-main-search .main-input_search .btn_search {
  position: absolute;
  right: 8px;
  top: 50%;
  display: inline-block;
  width: 76px;
  height: 40px;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  background: #464542;
  border: 1px solid #363636;
  border-radius: 4px;
  transform: translateY(-50%);
}

/*--------------------------------------------------------------
  date형식 검색 범위
--------------------------------------------------------------*/
.common-datePicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.common-datePicker input[type="text"] {
  width: 46%;
  height: 100%;
  font-size: 15px;
  box-sizing: border-box;
}
.common-datePicker input[type="text"].icon-date {
  padding-left: 39px;
  background-image: url("../images/icon/icon-date.png");
  background-repeat: no-repeat;
  background-position: 15px 52%;
  background-size: 15px auto;
}

.common-datePicker.small input[type="text"] {
  font-size: 12px;
}
.common-datePicker.small input[type="text"].icon-date {
  padding-left: 25px;
  padding-right: 6px;
  background-position: 6px 52%;
  background-size: 13px auto;
}

/*--------------------------------------------------------------
  input : text
--------------------------------------------------------------*/
input[type="text"] {
  padding: 0 15px;
  font-size: 14px;
  box-sizing: border-box;
}
input[type="password"] {
  padding: 0 15px;
  font-size: 14px;
  box-sizing: border-box;
}
.input-type {
  padding: 0 15px;
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}
.input-type2 {
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}
.input-type3 {
  background: #fff;
  border: 1px solid #8e8e8e;
  border-radius: 6px;
}
.input-type4 {
  background: #fcfcfc;
  border: 1px solid #8e8e8e;
  border-radius: 6px;
}
.input-type5 {
  background: #fcfcfc;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

/*--------------------------------------------------------------
  input : checkbox
--------------------------------------------------------------*/
.common-checkbox input[type="checkbox"] {
  width: 22px;
  height: 22px;
  background: url("../images/icon/icon-check.png") no-repeat left 60%;
  background-size: contain;
  appearance: none;
  vertical-align: middle;
}
.common-checkbox input[type="checkbox"]:checked {
  background: url("../images/icon/icon-checked.png") no-repeat left 60%;
  background-size: contain;
}
.common-checkbox label {
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

.common-checkbox.small input[type="checkbox"] {
  width: 14px;
  height: 19px;
}
.common-checkbox.small label {
  font-size: 13px;
}

.common-checkbox.sub {
  margin: 0 0 0 21px;
  padding: 0 0 0 16px;
  background: url("../images/icon/icon-cate-line.png") no-repeat left 50%;
}

/*--------------------------------------------------------------
  input : file
--------------------------------------------------------------*/
.common-input-file {
  position: relative;
  background: #fcfcfc;
  border: 1px solid #8e8e8e;
  border-radius: 6px;
}
.common-input-file .upload-name {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 6px 0 6px 16px;
  font-size: 14px;
  font-weight: 500;
}

.common-input-file label {
  position: absolute;
  right: 5px;
  top: 50%;
  display: inline-block;
  height: 32px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 500;
  background: #f4f4f4;
  border: 1px solid #cecece;
  border-radius: 4px;
  transform: translateY(-50%);
}
.common-input-file input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

/*--------------------------------------------------------------
  input : search
--------------------------------------------------------------*/
.common-sub-search {
  position: relative;
}
.common-sub-search.br {
  padding: 20px 22px;
  background: #ded6cf;
}
.common-sub-search input[type="search"] {
  width: 100%;
  height: 44px;
  padding: 19px 17px;
  font-size: 14px;
}
.common-sub-search .btn {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}

/*--------------------------------------------------------------
  input : address : 주소검색
--------------------------------------------------------------*/
.common-adress {
  position: relative;
  width: 100%;
}
.common-adress input[type="text"] {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
}
.common-adress .default-area {
  margin: 0 0 7px;
}
.common-adress .default-area .btn-find-address {
  position: absolute;
  right: 7px;
  top: 7px;
}

/*--------------------------------------------------------------
  Select Box
--------------------------------------------------------------*/
.common-selectBox {
  height: 100%;
}
.common-selectBox .main-selectBox {
  height: 100%;
}
.common-selectBox .main-selectBox > li {
  position: relative;
  height: 100%;
}
.common-selectBox .main-selectBox > li > a {
  display: block;
  height: 100%;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  background: url("../images/icon/icon-toggle-down-gr.png") no-repeat 98% 50%, #fcfcfc;
  border: 1px solid #8e8e8e;
  border-radius: 6px;
  box-sizing: border-box;
}

.common-selectBox .main-selectBox > li > a.placeholder {
  color: #b7b7b7;
}
.common-selectBox .main-selectBox > li.on > a {
  background: url("../images/icon/icon-toggle-up-gr.png") no-repeat 98% 50%, #fcfcfc;
  border-radius: 6px 6px 0 0;
}
.common-selectBox .main-selectBox > li .sub-selectBox {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  padding: 7px 0;
  background: #fcfcfc;
  border: 1px solid #8e8e8e;
  border-radius: 0 0 6px 6px;
  box-sizing: border-box;
  z-index: 3;
}
.common-selectBox .main-selectBox > li .sub-selectBox li a {
  display: block;
  line-height: 2;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
}
.common-selectBox .main-selectBox > li .sub-selectBox li:hover a {
  background: #d6d6d6;
}

/*--------------------------------------------------------------
  Textarea
--------------------------------------------------------------*/
.common-textarea {
  position: relative;
  padding: 10px 18px;
  background-color: #fcfcfc;
  border: 1px solid #8e8e8e;
  border-radius: 6px;
}
.common-textarea textarea {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  resize: none;
  outline: 0;
  overflow: hidden;
}
.common-textarea span {
  position: absolute;
  right: 18px;
  bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #b7b7b7;
  z-index: 2;
}

/*--------------------------------------------------------------
  Table : status
--------------------------------------------------------------*/
.common-board-status {
  display: flex;
  align-items: center;
  height: 45px;
}
.common-board-status > div {
  margin: 0 8px 0 0;
}
.common-board-status .common-selectBox {
  width: 141px;
}
.common-board-status .common-selectBox .main-selectBox > li > a {
  line-height: 43px;
  border-color: #d6d6d6;
  background-position: 90% 50%;
}
.common-board-status .common-selectBox .main-selectBox > li.on > a {
  background-position: 90% 50%;
}
.common-board-status .common-selectBox .main-selectBox li .sub-selectBox {
  border-color: #d6d6d6;
}
.common-board-status .common-sub-search .input-type5 {
  width: 319px;
}
.common-board-status .common-sub-search .btn {
  right: 4px;
}
.common-board-status .short-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;
  color: #989590;
}
.common-board-status .short-area a {
  font-size: 14px;
  font-weight: 500;
  color: #989590;
}
.common-board-status .short-area a.on {
  color: #382205;
}
.common-board-status .short-area span {
  margin: 0 8px;
  color: #d9d2c9;
}

/*--------------------------------------------------------------
  Table : Basic, Vertical, Horizen, Board
--------------------------------------------------------------*/
.common-table-wrapper table {
  width: 100%;
  font-size: 13px;
  color: #555;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
}

.common-table-wrapper table th {
  font-weight: 500;
  color: #000;
  padding: 8px 17px;
  background: #fcfcfc;
  border: 1px solid #ddd;
}
.common-table-wrapper table td {
  padding: 8px 17px;
  border: 1px solid #ddd;
}
.common-table-wrapper table td a {
  display: block;
}
.common-table-wrapper table td.left {
  text-align: left;
}

.common-table-wrapper table.vertical tbody th {
  color: #555;
  text-align: left;
}
.common-table-wrapper table.vertical tbody td {
  text-align: right;
}

.common-table-wrapper table.board th {
  font-size: 15px;
  font-weight: 600;
  background: #ded6cf;
  border: 1px solid #c9c1b8;
}
.common-table-wrapper table.board td {
  padding: 8px 17px;
  font-size: 14px;
  font-weight: 500;
  color: #4e4e4e;
  background: #fff;
  border: 1px solid #d6d6d6;
}

/*--------------------------------------------------------------
  Board : Paging
--------------------------------------------------------------*/
.common-paging {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 34px 0 0;
}
.common-paging a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0 8px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  background: #fff;
  border: 1px solid #cecece;
  border-radius: 4px;
}
.common-paging a > img {
  height: 15px;
}
.common-paging a.on {
  color: #fff;
  background: #5f5f5f;
  border: 1px solid #4a4a4a;
}

/*--------------------------------------------------------------
Board : bottom button
--------------------------------------------------------------*/
.table-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 980px;
  margin: 33px auto 0;
}
.table-bottom.right {
  justify-content: flex-end;
}

/*--------------------------------------------------------------
  button : 설정 
  - 모든 버튼은 되도록이면 common-btn 안에 넣어서 설정 처리합니다. (검색바 내 button스타일 제외)
  - 사이즈가 새로 추가될경우 뒤에 넘버링 처리를 합니다. ex) .large2, 3, 4 ...
  - height추가시 line-height는 -2px값으로 설정합니다.
  - 버튼설정값을 다른 태그에 절대로 사용하지 않습니다.
--------------------------------------------------------------*/
.common-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-btn.wide button {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.common-btn.two {
  justify-content: space-between;
}
.common-btn.two button {
  flex: 0 1 49%;
  margin: 0;
  box-sizing: border-box;
}

.common-btn button {
  margin: 0 3px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
}

button.btn {
  margin: 0 3px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
}

/*--------------------------------------------------------------
  button : 가로 사이즈
--------------------------------------------------------------*/
button.large {
  padding: 0 120px;
  font-size: 15px;
}
button.large2 {
  padding: 0 40px;
}
button.large3 {
  padding: 0 195px;
}
button.medium {
  padding: 0 30px;
}
button.small {
  padding: 0 15px;
}
button.small2 {
  padding: 0 15px;
  font-size: 15px;
}
button.small3 {
  padding: 0 7px;
}
button.small4 {
  width: 16px;
}
button > img {
  width: 100%;
}

/*--------------------------------------------------------------
  button : 세로 사이즈
--------------------------------------------------------------*/
button.h16 {
  height: 16px;
  line-height: 14px;
}
button.h26 {
  height: 26px;
  line-height: 24px;
}
button.h30 {
  height: 30px;
  line-height: 28px;
}
button.h32 {
  height: 32px;
  line-height: 30px;
}
button.h38 {
  height: 38px;
  line-height: 36px;
}
button.h46 {
  height: 46px;
  line-height: 44px;
}
button.h58 {
  height: 58px;
  line-height: 56px;
}

/*--------------------------------------------------------------
  button : Color
--------------------------------------------------------------*/
button.wh {
  background: #fff;
  border: 1px solid #ddd;
}
button.wh2 {
  background: #f8f8f8;
  border: 1px solid #646464;
}
button.wh3 {
  background: #fff;
  border: 1px solid #cecece;
}

button.bl {
  background: #f0f5fd;
  border: 1px solid #bec6d1;
}

button.red {
  background: #f7e4e4;
  border: 1px solid #d3c0c0;
}

button.gr {
  background: #f4f4f4;
  border: 1px solid #cecece;
}
button.gr2 {
  color: #fff;
  background: #464542;
  border: 1px solid #363636;
}
button.gr3 {
  color: #fff;
  background: #393939;
  border: 1px solid #393939;
}

button.br {
  color: #fff;
  background: #896b48;
  border: 1px solid #573e21;
}
button.br2 {
  color: #fff;
  background: #5c3807;
  border: 1px solid #412704;
}

/*--------------------------------------------------------------
 * keywords
 
 - 다른 엘리멘트 간 margin / padding 조절을 위해 common-keyword 등으로 묶어 사용
 example.
 <div class="common-keyword">
  <input type="text" class="input-type3 keywords" name="keywords" value="" placeholder="">
 </div>

 - jQuery Bind
 $('.keywords').tagsInput({
  placeholder: "검색에 노출될 키워드를 작성 후 엔터키로 등록하세요. (최대 10개)",
  unique: true,
  limit: 10,
  delimiter: ',',
  maxChars: _INT_,
  removeWithBackspace: true,
  trimValue: true,
  onChange: function() {
    console.log(this.value);
  }
}); 
--------------------------------------------------------------*/
.tagsinput {
  border-color: #8e8e8e;
  border-radius: 6px;
}
.tagsinput .tag {
  background-color: transparent;
  border-radius: 1em;
  -o-transition: background-color 150ms ease;
  -ms-transition: background-color 150ms ease;
  -moz-transition: background-color 150ms ease;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  cursor: pointer;
}
.tagsinput .tag .tag-remove {
  background-color: transparent;
  top: 50%;
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid #989898;
  transform: translateY(-50%);
  line-height: 1rem;
}
.tagsinput .tag .tag-remove:after,
.tagsinput .tag .tag-remove:before {
  background-color: #989898;
  top: 6px;
  left: 2px;
}
.tagsinput .tag .tag-text {
  padding: 0;
  color: #000;
  font-size: 14px;
  -o-transition: color 150ms ease;
  -ms-transition: color 150ms ease;
  -moz-transition: color 150ms ease;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}
@media (hover: hover), (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /*.tagsinput:hover .tag:hover {
    background-color: rgba(237, 237, 237, 0.5);
  }
  .tagsinput:hover .tag:hover .tag-text {
    color: #000;
  }*/
  .tagsinput .tag .tag-remove:hover {
    background-color: #bf0000;
  }
  .tagsinput .tag .tag-remove:hover:after,
  .tagsinput .tag .tag-remove:hover:before {
    background-color: #fff;
  }
}

/*--------------------------------------------------------------
  --------------------------------------------------------------
  반응형 : MOBilE : 720
  --------------------------------------------------------------
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {
  /* 메인비쥬얼, 서브비쥬얼 내 공통 검색바 */
  .common-main-search {
    width: 100%;
  }
  .common-main-search .tab {
    width: 50vw;
    margin: 0 0 4.861vw;
    border-radius: 0.833vw;
  }
  .common-main-search .tab a {
    width: 25vw;
    height: 9.722vw;
    line-height: 9.444vw;
    font-size: 4.167vw;
    font-weight: 500;
  }
  .common-main-search .main-input_search input[type="search"] {
    height: 10.972vw;
    padding: 0 3.472vw;
    font-size: 4.167vw;
    border-radius: 0.833vw;
    box-shadow: 0 0.417vw 0.833vw 0 rgba(0, 0, 0, 0.16);
  }
  .common-main-search .main-input_search .btn_search {
    right: 1.389vw;
    width: 13.333vw;
    height: 8.472vw;
    font-size: 3.611vw;
    border-radius: 0.833vw;
  }

  /*--------------------------------------------------------------
  date형식 검색 범위
--------------------------------------------------------------*/
  .common-datePicker {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .common-datePicker input[type="text"] {
    width: 46%;
    height: 100%;
    font-size: 15px;
    box-sizing: border-box;
  }
  .common-datePicker input[type="text"].icon-date {
    padding-left: 39px;
    background-image: url("../images/icon/icon-date.png");
    background-repeat: no-repeat;
    background-position: 15px 52%;
    background-size: 15px auto;
  }

  .common-datePicker.small input[type="text"] {
    font-size: 12px;
  }
  .common-datePicker.small input[type="text"].icon-date {
    padding-left: 25px;
    padding-right: 6px;
    background-position: 6px 52%;
    background-size: 13px auto;
  }

  /*--------------------------------------------------------------
  input : text
--------------------------------------------------------------*/
  input[type="text"] {
    padding: 0 15px;
    font-size: 14px;
    box-sizing: border-box;
  }
  input[type="password"] {
    padding: 0 15px;
    font-size: 14px;
    box-sizing: border-box;
  }
  .input-type {
    padding: 0 15px;
    background: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
  }
  .input-type2 {
    background: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
  }
  .input-type3 {
    background: #fff;
    border: 1px solid #8e8e8e;
    border-radius: 6px;
  }
  .input-type4 {
    background: #fcfcfc;
    border: 1px solid #8e8e8e;
    border-radius: 6px;
  }
  .input-type5 {
    background: #fcfcfc;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
  }

  /*--------------------------------------------------------------
  input : checkbox
--------------------------------------------------------------*/
  .common-checkbox input[type="checkbox"] {
    width: 22px;
    height: 22px;
    background: url("../images/icon/icon-check.png") no-repeat left 60%;
    background-size: contain;
    appearance: none;
    vertical-align: middle;
  }
  .common-checkbox input[type="checkbox"]:checked {
    background: url("../images/icon/icon-checked.png") no-repeat left 60%;
    background-size: contain;
  }
  .common-checkbox label {
    font-size: 14px;
    font-weight: 500;
    color: #555;
  }

  .common-checkbox.small input[type="checkbox"] {
    width: 14px;
    height: 19px;
  }
  .common-checkbox.small label {
    font-size: 13px;
  }

  .common-checkbox.sub {
    margin: 0 0 0 21px;
    padding: 0 0 0 16px;
    background: url("../images/icon/icon-cate-line.png") no-repeat left 50%;
  }

  /*--------------------------------------------------------------
  input : file
--------------------------------------------------------------*/
  .common-input-file {
    position: relative;
    background: #fcfcfc;
    border: 1px solid #8e8e8e;
    border-radius: 6px;
  }
  .common-input-file .upload-name {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 6px 0 6px 16px;
    font-size: 14px;
    font-weight: 500;
  }

  .common-input-file label {
    position: absolute;
    right: 5px;
    top: 50%;
    display: inline-block;
    height: 32px;
    line-height: 30px;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 500;
    background: #f4f4f4;
    border: 1px solid #cecece;
    border-radius: 4px;
    transform: translateY(-50%);
  }
  .common-input-file input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
  }

  /*--------------------------------------------------------------
  input : search
--------------------------------------------------------------*/
  .common-sub-search {
    position: relative;
  }
  .common-sub-search.br {
    padding: 20px 22px;
    background: #ded6cf;
  }
  .common-sub-search input[type="search"] {
    width: 100%;
    height: 44px;
    padding: 2.361vw 2.778vw;
    font-size: 3.472vw;
  }
  .common-sub-search .btn {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
  }

  /*--------------------------------------------------------------
  input : address : 주소검색
--------------------------------------------------------------*/
  .common-adress {
    position: relative;
    width: 100%;
  }
  .common-adress input[type="text"] {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
  }
  .common-adress .default-area {
    margin: 0 0 7px;
  }
  .common-adress .default-area .btn-find-address {
    position: absolute;
    right: 7px;
    top: 7px;
  }

  /*--------------------------------------------------------------
  Select Box
--------------------------------------------------------------*/
  .common-selectBox {
    height: 100%;
  }
  .common-selectBox .main-selectBox {
    height: 100%;
  }
  .common-selectBox .main-selectBox > li {
    position: relative;
    height: 100%;
  }
  .common-selectBox .main-selectBox > li > a {
    display: block;
    height: 100%;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    background: url("../images/icon/icon-toggle-down-gr.png") no-repeat 98% 50%, #fcfcfc;
    border: 1px solid #8e8e8e;
    border-radius: 6px;
    box-sizing: border-box;
  }

  .common-selectBox .main-selectBox > li > a.placeholder {
    color: #b7b7b7;
  }
  .common-selectBox .main-selectBox > li.on > a {
    background: url("../images/icon/icon-toggle-up-gr.png") no-repeat 98% 50%, #fcfcfc;
    border-radius: 6px 6px 0 0;
  }
  .common-selectBox .main-selectBox > li .sub-selectBox {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    padding: 7px 0;
    background: #fcfcfc;
    border: 1px solid #8e8e8e;
    border-radius: 0 0 6px 6px;
    box-sizing: border-box;
    z-index: 3;
  }
  .common-selectBox .main-selectBox > li .sub-selectBox li a {
    display: block;
    line-height: 2;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
  }
  .common-selectBox .main-selectBox > li .sub-selectBox li:hover a {
    background: #d6d6d6;
  }

  /*--------------------------------------------------------------
  Textarea
--------------------------------------------------------------*/
  .common-textarea {
    position: relative;
    padding: 10px 18px;
    background-color: #fcfcfc;
    border: 1px solid #8e8e8e;
    border-radius: 6px;
  }
  .common-textarea textarea {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    resize: none;
    outline: 0;
    overflow: hidden;
  }
  .common-textarea span {
    position: absolute;
    right: 18px;
    bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #b7b7b7;
    z-index: 2;
  }

  /*--------------------------------------------------------------
    Table : status
  --------------------------------------------------------------*/
  .common-board-status {
    position: relative;
    flex-wrap: wrap;
    height: 30.278vw;
    padding: 3.889vw 0 0;
    background: #f5f5f5;
    border-bottom: 1px solid #808080;
  }
  .common-board-status::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 18.75vw;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.16);
  }
  .common-board-status > div {
    margin: 0;
  }
  .common-board-status .common-selectBox {
    width: 34.861vw;
    height: 10.972vw;
  }
  .common-board-status .common-selectBox .main-selectBox > li > a {
    line-height: 10.694vw;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    background-position: 80% 50%;
  }
  .common-board-status .common-selectBox .main-selectBox > li.on > a {
    background-position: 80% 50%;
  }
  .common-board-status .common-selectBox .main-selectBox li .sub-selectBox {
    border-color: #d6d6d6;
  }
  .common-board-status .common-sub-search .input-type5 {
    width: 59.028vw;
  }
  .common-board-status .common-sub-search .btn {
    right: 1.389vw;
  }
  .common-board-status .short-area {
    justify-content: flex-start;
    height: 15.417vw;
    margin: 3.889vw 0 0;
    padding: 0 6.111vw;
    font-size: 3.611vw;
    background: #fff;
  }
  .common-board-status .short-area a {
    font-size: 3.611vw;
  }
  .common-board-status .short-area span {
    margin: 0 1.389vw;
  }

  /*--------------------------------------------------------------
  Table : Basic, Vertical, Horizen, Board
--------------------------------------------------------------*/
  .common-table-wrapper table {
    font-size: 13px;
  }

  .common-table-wrapper table th {
    padding: 3.611vw 4.167vw;
  }
  .common-table-wrapper table td {
    padding: 8px 17px;
  }

  .common-table-wrapper table.board th {
    font-size: 3.611vw;
    font-weight: 600;
    border-right: none;
  }

  .common-table-wrapper table.board td {
    padding: 3.611vw 4.167vw;
    font-size: 3.611vw;
    border-right: none;
  }

  /*--------------------------------------------------------------
  Board : Paging
--------------------------------------------------------------*/
  .common-paging {
    justify-content: space-between;
    margin: 8.333vw 6.111vw;
  }
  .common-paging a {
    width: auto;
    margin: 0;
    padding: 0 2.778vw;
    font-size: 4.167vw;
    border: none;
  }
  .common-paging a.on {
    color: #f69412;
    background: none;
    border: none;
  }
  .common-paging a.bd-bg {
    background: #f4f4f4;
    border: 1px solid #dbdbdb;
  }

  /*--------------------------------------------------------------
  Board : bottom button
  --------------------------------------------------------------*/
  .table-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 4.583vw auto;
    padding: 0 6.111vw;
    box-sizing: border-box;
  }

  /*--------------------------------------------------------------
    button 
  --------------------------------------------------------------*/
  .common-btn button {
    margin: 0 0.972vw;
    font-size: 3.333vw;
    border-radius: 0.556vw;
  }

  button.btn {
    margin: 0 3px;
    font-size: 3.333vw;
    border-radius: 0.556vw;
  }

  /*--------------------------------------------------------------
  button : 가로 사이즈
--------------------------------------------------------------*/
  button.large {
    padding: 0 120px;
    font-size: 3.611vw;
  }
  button.large2 {
    padding: 0 40px;
  }
  button.large3 {
    padding: 0 195px;
  }
  button.medium {
    padding: 0 30px;
  }
  button.small {
    padding: 0 1.389vw;
  }
  button.small2 {
    padding: 0 2.083vw;
    font-size: 3.611vw;
  }
  button.small3 {
    padding: 0 7px;
  }

  /*--------------------------------------------------------------
  button : 세로 사이즈
--------------------------------------------------------------*/
  button.h26 {
    /* height: 5px */
    height: 7.222vw;
    line-height: 6.944vw;
  }
  button.h30 {
    /* height: 54px */
    height: 7.778vw;
    line-height: 7.5vw;
  }
  button.h32 {
    /* height: 64px */
    height: 8.889vw;
    line-height: 8.611vw;
  }
  button.h38 {
    /* height: 76px; */
    height: 10.556vw;
    line-height: 10.278vw;
  }
  button.h46 {
    /* height: 92px; */
    height: 12.778vw;
    line-height: 90px;
  }
  button.h58 {
    height: 8.056vw;
    line-height: 7.778vw;
  }

  /*--------------------------------------------------------------
 * keywords
 
 - 다른 엘리멘트 간 margin / padding 조절을 위해 common-keyword 등으로 묶어 사용
 example.
 <div class="common-keyword">
  <input type="text" class="input-type3 keywords" name="keywords" value="" placeholder="">
 </div>

 - jQuery Bind
 $('.keywords').tagsInput({
  placeholder: "검색에 노출될 키워드를 작성 후 엔터키로 등록하세요. (최대 10개)",
  unique: true,
  limit: 10,
  delimiter: ',',
  maxChars: _INT_,
  removeWithBackspace: true,
  trimValue: true,
  onChange: function() {
    console.log(this.value);
  }
}); 
--------------------------------------------------------------*/
  .tagsinput {
    border-color: #8e8e8e;
    border-radius: 6px;
  }
  .tagsinput .tag {
    background-color: transparent;
    border-radius: 1em;
    -o-transition: background-color 150ms ease;
    -ms-transition: background-color 150ms ease;
    -moz-transition: background-color 150ms ease;
    -webkit-transition: background-color 150ms ease;
    transition: background-color 150ms ease;
    cursor: pointer;
  }
  .tagsinput .tag .tag-remove {
    background-color: transparent;
    top: 50%;
    right: 0.5rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid #989898;
    transform: translateY(-50%);
    line-height: 1rem;
  }
  .tagsinput .tag .tag-remove:after,
  .tagsinput .tag .tag-remove:before {
    background-color: #989898;
    top: 6px;
    left: 2px;
  }
  .tagsinput .tag .tag-text {
    padding: 0;
    color: #000;
    font-size: 14px;
    -o-transition: color 150ms ease;
    -ms-transition: color 150ms ease;
    -moz-transition: color 150ms ease;
    -webkit-transition: color 150ms ease;
    transition: color 150ms ease;
  }
  @media (hover: hover), (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /*.tagsinput:hover .tag:hover {
    background-color: rgba(237, 237, 237, 0.5);
  }
  .tagsinput:hover .tag:hover .tag-text {
    color: #000;
  }*/
    .tagsinput .tag .tag-remove:hover {
      background-color: #bf0000;
    }
    .tagsinput .tag .tag-remove:hover:after,
    .tagsinput .tag .tag-remove:hover:before {
      background-color: #fff;
    }
  }
}
