@charset "utf-8";

/*--------------------------------------------------------------
< z-index 설정 >

.subVisual-container:after {
  z-index: 1;
}
.subVisual-container .subVisual-wrapper {
  z-index: 2;
}
.subVisual-container .subVisual-search {
  z-index: 2;
}
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  sub Body
--------------------------------------------------------------*/
#sub-body {
  position: relative;
  background: #f8f8f8;
}

/*--------------------------------------------------------------
  Sub Visual
--------------------------------------------------------------*/
.subVisual-container {
  position: relative;
  display: block;
  height: 220px;
  overflow: hidden;
}
.subVisual-container:after {
  position: absolute;
  left: 50%;
  top: -40px;
  content: "";
  width: 150%;
  height: 150%;
  transform: translateX(-50%) scale(0.85) skew(0deg, -2deg);
  animation: ani-suvVisual 5s 0.4s forwards;
  z-index: 1;
  background-size: 1300px auto !important;
  /* border: 1px solid red; */
}
.subVisual-container.sub-bg02 {
  height: 408px;
}
.subVisual-container.sub-bg02:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000 30%, rgba(23, 23, 23, 0.2));
  z-index: 2;
}
.subVisual-container.sub-bg02:after {
  background: url("../images/sub/sub-visual02.png") no-repeat 77.5% 50%;
}
.subVisual-container.sub-bg02_1:after {
  background: url("../images/sub/sub-visual02.png") no-repeat 77.5% 50%;
}
.subVisual-container.sub-bg03:after {
  background: url("../images/sub/sub-visual03.png") no-repeat 77.5% 50%;
}
.subVisual-container.sub-bg04:after {
  background: url("../images/sub/sub-visual04.png") no-repeat 77.5% 50%;
}
.subVisual-container.sub-bg05:after {
  background: url("../images/sub/sub-visual05.png") no-repeat 77.5% 50%;
}
.subVisual-container.sub-bg06:after {
  background: url("../images/sub/sub-visual06.png") no-repeat 77.5% 50%;
}
.subVisual-container.sub-bg07:after {
  background: url("../images/sub/sub-visual07.png") no-repeat 77.5% 50%;
}
.subVisual-container.sub-bg08:after {
  background: url("../images/sub/sub-visual08.png") no-repeat 77.5% 50%;
}
.subVisual-container.sub-bg09:after {
  background: url("../images/sub/sub-visual09.png") no-repeat 77.5% 50%;
}
.subVisual-container.sub-bg10:after {
  background: url("../images/sub/sub-visual10.png") no-repeat 77.5% 50%;
}

@keyframes ani-suvVisual {
  100% {
    transform: translateX(-50%) scale(0.9) skew(0deg, 0deg);
  }
}

.subVisual-container .subVisual-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #000 50%, rgba(0, 0, 0, 0.1));
  box-sizing: border-box;
  z-index: 2;
}
.subVisual-container .subVisual-wrapper .sub-title {
  padding: 0 0 10px;
  font-size: 30px;
  font-weight: 600;
}
.subVisual-container .subVisual-wrapper .sub-introText {
  max-width: 650px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
  word-break: keep-all;
}

.subVisual-container .subVisual-search {
  position: relative;
  margin: 35px 0 0;
  z-index: 2;
}

/*--------------------------------------------------------------
  Sub layout
--------------------------------------------------------------*/
#sub-contents-container {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding: 28px 0 60px;
}
#sub-contents-container .sub-contents-title {
  margin: 0 0 17px;
  font-size: 17px;
  font-weight: 600;
  color: #382205;
}
#sub-contents-container .sub-contents-title span {
  font-size: 12px;
  font-weight: 500;
}
#sub-contents-container .sub-contents-title span b.red {
  color: #bf0000;
}
#sub-contents-container .sub-contents-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#sub-contents-container .sub-contents-wrapper.bg {
  background: #fff;
  border: 1px solid #e5e5e5;
}
#sub-contents-container .sub-contents-wrapper .sub-right-contents {
  width: 736px;
  min-height: 500px;
}
#sub-contents-container .sub-contents-wrapper .sub-right-contents.bg {
  background: #fff;
  border: 1px solid #e5e5e5;
}

/*--------------------------------------------------------------
  Lnb
--------------------------------------------------------------*/
#lnb {
  width: 226px;
}
#lnb .mb-progress-bar {
  display: none;
}
#lnb .mb-lnb-bg dl {
  padding: 0 0 40px;
  background: #fff;
  border: 1px solid #e5e5e5;
}
#lnb .mb-lnb-bg dl dt {
  line-height: 47px;
  margin: 0 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background: #524232;
}
#lnb .mb-lnb-bg dl dd a {
  display: block;
  line-height: 38px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 500;
  color: #848484;
}
#lnb .mb-lnb-bg dl dd a.current {
  font-size: 18px;
  font-weight: 600;
  color: #2c2c2c;
}

/*--------------------------------------------------------------
  * 1100_web_02_01_디비검색 – 1 (PC) 
--------------------------------------------------------------*/
/* 좌측 : 키워드 검색 바 */
.left-searchBar-container {
  flex: 0 1 264px;
}
.left-searchBar {
  padding: 16px 0;
  background: #fff;
  border: 1px solid #c1c1c1;
  box-sizing: border-box;
}
.left-searchBar dl {
  padding: 14px 20px;
  border-bottom: 1px solid #e5e5e5;
}
.left-searchBar dl:last-child {
  border: none;
}
.left-searchBar dl dt,
.left-searchBar dl dt a {
  font-size: 16px;
  font-weight: 600;
  color: #382205;
}
.left-searchBar dl dt a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/icon/icon-toggle-up-border.png") no-repeat 98% 50%;
}
.left-searchBar dl dt.down a {
  background: url("../images/icon/icon-toggle-down-border.png") no-repeat 98% 50%;
}

.left-searchBar dl dd {
  padding: 10px 0 6px;
}
.left-searchBar dl dd .search-area {
  height: 29px;
}
.left-searchBar dl dd .search-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-searchBar dl dd .search-area input[type="search"] {
  width: 73%;
  height: 100%;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
}
.left-searchBar dl dd .search-area .btn_sub_search {
  width: 24%;
  height: 100%;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #5c3807;
  border: 1px solid #412704;
  border-radius: 4px;
  box-sizing: border-box;
}

.left-searchBar dl dd .common-datePicker {
  height: 32px;
}

.left-searchBar dl dd .common-checkbox li {
  padding: 3px 0;
}

/* 우측 : DB 검색 컨텐츠 */
.db_search_container {
  width: 697px;
}
.db_search_container .mb_db_search_top {
  display: none;
}
.db_search_container > dl {
  margin: 0 0 4px;
  background: #fff;
  border: 1px solid #e5e5e5;
}
.db_search_container > dl > dt {
  display: block;
  padding: 16px 22px;
  font-size: 16px;
  font-weight: 500;
  color: #382205;
}
.db_search_container > dl > dt > a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #382205;
  background: url("../images/icon/icon-toggle-up-gr.png") no-repeat right 50%;
}
.db_search_container > dl > dt.down > a {
  background: url("../images/icon/icon-toggle-down-gr.png") no-repeat right 50%;
}
.db_search_container > dl > dt > a > span {
  font-size: 13px;
}
.db_search_container > dl > dd {
  line-height: 1.88;
  padding: 16px 22px;
  font-size: 13px;
  font-weight: 500;
  color: #555;
  word-break: keep-all;
  border-top: 1px solid #ccc;
}
.db_search_container dl > dd > .text-wrap p {
  font-size: 16px;
  line-height: 1.6;
}
.link_list {
  margin: 0 0 27px;
}
.link_list li {
  border-bottom: 1px solid #cccccc;
}
.link_list li a {
  padding: 21px 0;
  display: block;
  font-size: 16px;
  color: #555555;
}
.link_list li:first-child a {
  padding-top: 0;
}
.link_list li p {
  font-size: 16px;
}
/* ellipsis line_2/line_3 */
.link_list li p.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.link_list li p.ellipsis.line_1 {
  -webkit-line-clamp: 1;
}
.link_list li p.ellipsis.line_2 {
  -webkit-line-clamp: 2;
}
.link_list li p.ellipsis.line_3 {
  -webkit-line-clamp: 3;
}
.link_list li a p span {
  color: #000;
}
.link_list li a strong {
  color: #1642b7;
}
.db_search_container dl > dd > .common-btn.more-btn {
  margin: 0 0 22px 0;
}
.link_list.img_list li {
  padding: 0 0 26px;
}
.link_list.img_list li:not(:first-child) {
  padding: 26px 0 0;
}
.link_list.img_list .profile-wrap {
  display: flex;
  align-items: center;
  margin: 0 0 18px;
}
.link_list.img_list .profile-wrap .img-wrap {
  width: 96px;
  height: 96px;
  margin: 0 11px 0 0;
}
.link_list.img_list .profile-wrap .img-wrap img {
  min-width: 96px;
  min-height: 96px;
}
.link_list.img_list .profile-wrap .text-wrap {
  width: calc(100% - (96px + 11px));
}

.link_list.img_list .profile-wrap .text-wrap p {
  font-size: 14px;
  line-height: 1.5;
}
.link_list.img_list .profile-wrap .text-wrap .common-btn {
  justify-content: flex-start;
  margin: 10px 0 0;
}
.link_list.img_list .profile-wrap .text-wrap .common-btn button {
  margin: 0;
}

/*--------------------------------------------------------------
  * 1100_web_02_02_디비검색 : 상세 – 1 (PC) 
--------------------------------------------------------------*/
/* 좌측 기관 상세 */
.left_resource_container {
  width: 400px;
  padding: 22px;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.left_resource_container .s-title {
  padding: 0 0 10px;
  font-size: 18px;
  font-weight: 600;
}
.left_resource_container .s-title span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #fd7e14;
}
.left_resource_container .introduce-agency {
  margin: 0 0 17px;
  border-radius: 4px;
  overflow: hidden;
}
.left_resource_container .introduce-agency .img-area {
  position: relative;
}
.left_resource_container .introduce-agency .img-area .btn-chat {
  position: absolute;
  right: 8px;
  bottom: 8px;
  display: inline-block;
  width: 82px;
  line-height: 25px;
  padding: 0 0 0 19px;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
  background: url("../images/icon/icon-tell.png") no-repeat 8px 50% rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 2;
}
.left_resource_container .introduce-agency .img-area .logo-area {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 76px;
  z-index: 2;
}

.left_resource_container .introduce-agency dl {
  padding: 15px 18px 20px;
  background: #fafafa;
}
.left_resource_container .introduce-agency dl dt {
  padding: 0 0 11px;
  font-size: 17px;
  font-weight: 600;
  color: #382205;
}
.left_resource_container .introduce-agency dl dd {
  line-height: 27px;
  font-size: 14px;
}
.left_resource_container .introduce-agency dl dd span {
  font-weight: 500;
  color: #382205;
}

.left_resource_container .introduce-text {
  padding: 0 0 17px;
}
.left_resource_container .introduce-text dl {
  margin: 0 0 7px 10px;
}
.left_resource_container .introduce-text dl dt {
  padding: 0 0 3px;
  font-size: 16px;
  font-weight: 500;
}
.left_resource_container .introduce-text dl dd {
  position: relative;
  line-height: 25px;
  padding: 0 0 0 10px;
  font-size: 14px;
  font-weight: 500;
  color: #555;
  word-break: keep-all;
}
.left_resource_container .introduce-text dl dd::before {
  position: absolute;
  left: 0;
  top: 0px;
  content: "- ";
}
.left_resource_container .introduce-text dl dd.no-hipen::before {
  content: "";
}
.left_resource_container .introduce-text dl dd .btn-viewData {
  position: absolute;
  right: 0;
  top: 0;
}
.left_resource_container .introduce-text dl dd a {
  color: #1642b7;
}
.left_resource_container .introduce-text .common-table-wrapper .horizen {
  font-size: 10px;
}
.left_resource_container .introduce-text .common-table-wrapper .horizen tr td {
  padding: 8px 0;
}
.left_resource_container .introduce-text > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left_resource_container .introduce-text > ul > li {
  flex: 1 1 30%;
  margin: 0 0 8px;
  font-size: 10px;
  font-weight: 500;
  color: #555;
  text-align: center;
}
.left_resource_container .introduce-text > ul > li p {
  padding: 3px 0 0;
}

/* 우측 영역 및 탭 */
.right_resource_container {
  width: 571px;
  padding: 22px;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.right_resource_container .sub-contents-tab {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}
.right_resource_container .sub-contents-tab a {
  display: block;
  flex: 1 1 25%;
  height: 34px;
  line-height: 30px;
  font-size: 13px;
  font-weight: 500;
  color: #382205;
  text-align: center;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #f69412;
  box-sizing: border-box;
}
.right_resource_container .sub-contents-tab a.current {
  font-weight: 600;
  color: #f69412;
  border: 2px solid #f69412;
  border-bottom: none;
}

.right_resource_container .db_search_container {
  width: 100%;
}

.common-gallery-wrapper.type2 > ul {
  padding: 0;
}
.common-gallery-wrapper.type2 > ul > li > a .gallery-list {
  line-height: 1.6;
}
.common-gallery-wrapper.type2 > ul > li > a .gallery-list .subject {
  padding: 0;
  color: #382205;
}
.common-gallery-wrapper.type2 > ul > li > a .gallery-list .name {
  padding: 0;
  font-weight: 400;
  color: #382205;
}
.common-gallery-wrapper.type2 > ul > li > a .gallery-list .date {
  font-weight: 400;
  color: #382205;
}

/*--------------------------------------------------------------
  * 1100_web_03_01_지식자료 – 1 (PC) 
--------------------------------------------------------------*/
.knowlege_data_container {
  width: 100%;
}

/*--------------------------------------------------------------
  * 1100_web_04_01_커뮤니티  (PC) 
--------------------------------------------------------------*/
.community-wrapper .common-board-status {
  margin: 0 0 10px;
}

/*--------------------------------------------------------------
  * 1100_web_04_01_커뮤니티 – View (PC) 
--------------------------------------------------------------*/
.community-view-wrapper {
  width: 100%;
}
.community-view-wrapper .board-view-top {
  width: 100%;
  padding: 30px 44px;
  box-sizing: border-box;
  background-color: #ded6cf;
}
.community-view-wrapper .board-view-top .subject {
  font-size: 18px;
  font-weight: 600;
  color: #382205;
  margin: 0 0 7px;
}
.community-view-wrapper .board-view-top .view-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #382205;
}
.community-view-wrapper .board-view-top .view-info ul {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.community-view-wrapper .board-view-top .view-info ul li {
  position: relative;
  margin: 0 20px 0 0;
}
.community-view-wrapper .board-view-top .view-info ul li:last-child {
  margin: 0;
}
.community-view-wrapper .board-view-top .view-info ul li:not(:last-child):after {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 1px;
  height: 13px;
  background-color: #382205;
}

.community-view-wrapper .board-view-middle .view-content {
  padding: 44px;
}
.community-view-wrapper .board-view-middle .view-comment .comment-total {
  padding: 40px 44px 20px;
  font-size: 15px;
  font-weight: 500;
  text-align: right;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area {
  padding: 0 50px;
  border-top: 1px solid #d3d3d3;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li {
  position: relative;
  padding: 40px 0;
  border-bottom: 1px solid #d3d3d3;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li > .name {
  padding: 0 0 20px;
  font-size: 18px;
  font-weight: 600;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li > .name span {
  font-size: 15px;
  font-weight: 500;
  color: #717171;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li > .content {
  line-height: 26px;
  font-size: 15px;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li > .view-btn {
  position: absolute;
  right: 0;
  top: 40px;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li .view-btn button {
  position: relative;
  padding: 0 7px;
  font-size: 15px;
  font-weight: 500;
  color: #868686;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li .view-btn button:first-child {
  padding-left: 0;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li .view-btn button:not(:first-child)::before {
  position: absolute;
  left: -2px;
  top: 6px;
  content: "";
  width: 2px;
  height: 12px;
  background: #d5d5d5;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li .recomment-area {
  padding: 0 0 0 16px;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li .recomment-area > li {
  padding: 20px 0 0 20px;
  background: url("../images/icon/icon-cate-line.png") no-repeat left 20px;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li .recomment-area > li .name {
  font-size: 15px;
  font-weight: 600;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li .recomment-area > li .name span {
  font-weight: 500;
  color: #717171;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li .recomment-area > li .view-btn {
  padding: 7px 0 0;
}

.community-view-wrapper .board-view-middle .view-comment .comment-area > li .write-recomment {
  position: relative;
  margin: 30px 0 0;
  padding: 25px 30px;
  border: 1px solid #ddd;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li .write-recomment .name {
  padding: 0 0 10px;
  font-size: 18px;
  font-weight: 600;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li .write-recomment textarea {
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  resize: none;
  outline: 0;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li .write-recomment .txt-num {
  position: absolute;
  right: 30px;
  top: 25px;
  font-size: 15px;
  font-weight: 500;
  color: #b4b4b4;
}
.community-view-wrapper .board-view-middle .view-comment .comment-area > li .write-recomment .common-btn {
  margin: 15px 0 0;
  justify-content: flex-end;
}
.community-view-wrapper .board-view-middle .view-comment > .common-btn {
  margin: 30px 0;
}

.community-view-wrapper .board-view-bottom {
  position: relative;
  padding: 35px 44px;
  background: #ebebeb;
}
.community-view-wrapper .board-view-bottom textarea {
  padding: 24px;
  font-size: 15px;
  font-weight: 500;
  background: #fff;
  border: 1px solid #b7b7b7;
  resize: none;
  outline: 0;
}
.community-view-wrapper .board-view-bottom .txt-num {
  position: absolute;
  right: 70px;
  top: 60px;
  font-size: 15px;
  font-weight: 500;
  color: #b4b4b4;
}
.community-view-wrapper .board-view-bottom .common-btn {
  position: absolute;
  right: 70px;
  bottom: 55px;
}

/*--------------------------------------------------------------
  * 1100_web_05_01_트랜드 – 1 (PC) 
--------------------------------------------------------------*/
.trend-container {
  background: #fff;
  border: 1px solid #e5e5e5;
}
.trend-container .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  padding: 0 22px;
  border-bottom: 1px solid #707070;
}
.trend-container .total p {
  font-size: 14px;
}
.trend-container .total .num-view {
  font-size: 12px;
  font-weight: 500;
  padding-right: 18px;
  background: url("../images/icon/icon-toggle-down-br.png") no-repeat right 68%;
}

.trend-container ul {
  padding: 0 22px;
}
.trend-container ul li {
  padding: 22px 0;
  border-bottom: 1px solid #e6e6e6;
}
.trend-container ul li:last-child {
  border-bottom: none;
}
.trend-container ul li .subject {
  font-size: 15px;
  font-weight: 600;
  color: #524232;
}
.trend-container ul li .content {
  line-height: 1.6;
  padding: 12px 0 20px;
  font-size: 16px;
  font-weight: 500;
  color: #626261;
}
.trend-container ul li .addition {
  display: flex;
  font-size: 12px;
  color: #626261;
}
.trend-container ul li .addition span {
  padding: 0 25px 0 0;
}
.trend-container ul li .addition span b {
  font-weight: 500;
}

/*--------------------------------------------------------------
  * 1100_web_06_01_제품정보 – 1 (PC) 
--------------------------------------------------------------*/
.product-view-info {
  display: block;
  background: #fff;
  border: 1px solid #e5e5e5;
}

.common-gallery-wrapper .gallery-title {
  line-height: 53px;
  padding: 0 22px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid #707070;
}
.common-gallery-wrapper > ul {
  padding: 22px;
}

.common-gallery-wrapper > ul > li {
  margin: 0 0 27px;
}
.common-gallery-wrapper > ul > li > a {
  display: flex;
  align-items: center;
}
.common-gallery-wrapper > ul > li > a .gallery-img {
  margin: 0 18px 0 0;
}
.common-gallery-wrapper > ul > li > a .gallery-list .subject {
  padding: 0 0 12px;
  font-size: 16px;
  font-weight: 600;
  color: #171717;
}
.common-gallery-wrapper > ul > li > a .gallery-list .name {
  padding: 0 0 2px;
  font-size: 14px;
  font-weight: 600;
  color: #626261;
}
.common-gallery-wrapper > ul > li > a .gallery-list .date {
  font-size: 14px;
  color: #626261;
}

/*--------------------------------------------------------------
  * 1100_web_11_01_로그인 (PC) 
--------------------------------------------------------------*/
#sub-login-container {
  position: relative;
  height: 713px;
  background: url("../images/sub/login-bg.png") no-repeat 50% 65%;
  background-size: auto;
  border-top: 6px solid #000;
}
.login-wrapper {
  position: absolute;
  left: 50%;
  top: 60px;
  width: 493px;
  height: 553px;
  padding: 65px 83px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-sizing: border-box;
  transform: translateX(-50%);
}
.login-wrapper dl {
  text-align: center;
}
.login-wrapper dl dt {
  padding: 0 0 9px;
  font-size: 24px;
  font-weight: 600;
}
.login-wrapper dl dd {
  font-size: 14px;
  font-weight: 500;
}
.login-wrapper ul {
  padding: 45px 0 0;
}
.login-wrapper ul li {
  margin: 0 0 20px;
}
.login-wrapper ul li label {
  display: inline-block;
  padding: 0 0 7px;
  font-size: 14px;
  font-weight: 500;
}
.login-wrapper ul li input[type="text"],
.login-wrapper ul li input[type="password"] {
  width: 100%;
  height: 37px;
}
.login-wrapper .common-btn.two {
  margin: 14px 0 50px;
}
.login-wrapper .copy {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

/*--------------------------------------------------------------
  * 1100_web_12_01_아이디비번찾기
--------------------------------------------------------------*/
.find-idpw-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.find-idpw-container .login-wrapper {
  position: relative;
  left: auto;
  top: auto;
  margin: 0 12px;
  transform: translateX(0);
}

/*--------------------------------------------------------------
  * only pc version
--------------------------------------------------------------*/
.mb-only {
  display: none;
}

/*--------------------------------------------------------------
  반응형 : MOBilE : 720
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {
  /*--------------------------------------------------------------
    mobile_Sub Visual
  --------------------------------------------------------------*/
  .subVisual-container {
    height: 40vw;
  }
  .subVisual-container.sub-bg02 {
    height: 40vw;
  }
  .subVisual-container.sub-bg02:after {
    background-position: 70% 50%;
  }
  .subVisual-container.sub-bg03 {
    display: none;
  }
  .subVisual-container.sub-bg03:after {
    background-position: 70% 50%;
  }
  .subVisual-container.sub-bg04:after {
    background-position: 70% 50%;
  }
  .subVisual-container.sub-bg05:after {
    background-position: 70% 50%;
  }
  .subVisual-container.sub-bg06:after {
    background-position: 70% 50%;
  }
  .subVisual-container.sub-bg07:after {
    background-position: 70% 50%;
  }

  .subVisual-container.sub-bg02 .subVisual-wrapper {
    display: none;
  }

  .subVisual-container .subVisual-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .subVisual-container .subVisual-wrapper .sub-title {
    padding: 0 0 1.944vw;
    font-size: 4.722vw;
  }
  .subVisual-container .subVisual-wrapper .sub-introText {
    font-size: 3.333vw;
  }

  .subVisual-container .subVisual-search {
    margin: 7.639vw 0 0;
    padding: 0 6.111vw;
  }

  /* --------------------------------------------------------------
    mobile_Sub layout 
  --------------------------------------------------------------*/
  #sub-contents-container {
    width: 100%;
    padding: 0;
  }
  #sub-contents-container .sub-contents-title {
    display: none;
  }
  #sub-contents-container .sub-contents-wrapper {
    display: block;
  }
  #sub-contents-container .sub-contents-wrapper.bg {
    background: #fff;
    border: 1px solid #e5e5e5;
  }
  #sub-contents-container .sub-contents-wrapper.hasLnb {
    padding: 14.722vw 0 0;
  }

  #sub-contents-container .sub-contents-wrapper .sub-right-contents {
    width: 100%;
    min-height: 500px;
  }
  #sub-contents-container .sub-contents-wrapper .sub-right-contentsbg {
    background: #fff;
    border: 1px solid #e5e5e5;
  }

  /* --------------------------------------------------------------
    mobile_Lnb 
  --------------------------------------------------------------*/
  #lnb {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  #lnb .mb-progress-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 14.722vw;
    padding: 0 6.111vw;
    font-size: 3.889vw;
    font-weight: 500;
    color: #fff;
    background: url("../images/icon/icon-toggle-down-gr.png") no-repeat 90.417vw 55%, #2e2e2e;
  }
  #lnb .mb-progress-bar.on {
    background: url("../images/icon/icon-toggle-up-gr.png") no-repeat 90.417vw 55%, #2e2e2e;
  }
  #lnb .mb-progress-bar img {
    width: 4.444vw;
  }
  #lnb .mb-progress-bar p {
    padding: 0 7px;
  }

  #lnb .mb-lnb-bg {
    display: none;
    background: rgba(65, 65, 65, 0.97);
  }
  #lnb .mb-lnb-bg::after {
    display: block;
    content: "";
    clear: both;
  }
  #lnb .mb-lnb-bg dl {
    padding: 5.556vw 0 9.722vw;
    background: none;
    border: none;
  }
  #lnb .mb-lnb-bg dl dt {
    display: block;
    line-height: normal;
    margin: 0 0 10px;
    padding: 0 7.222vw;
    font-size: 4.444vw;
    color: #f69412;
    text-align: left;
    background: none;
  }
  #lnb .mb-lnb-bg dl dd a {
    display: block;
    line-height: 12.5vw;
    padding: 0 7.222vw;
    font-size: 3.889vw;
    color: #afafaf;
  }
  #lnb .mb-lnb-bg dl dd a.current {
    font-size: 4.167vw;
    color: #fff;
  }

  #lnb.line-2 .mb-lnb-bg dl {
    float: left;
    width: 50%;
  }

  /* --------------------------------------------------------------
    mobile_02_01_디비검색 – 1
    -------------------------------------------------------------- */
  /* 좌측 : 키워드 검색 바 */
  .left-searchBar-container {
    position: fixed;
    left: 6.111vw;
    top: 23.472vw;
    display: none;
    width: 87.778vw;
    padding: 10.139vw 0 22.361vw;
    z-index: 11;
  }
  .left-searchBar-container .btnClose_left_searchBar {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    padding-left: 4.583vw;
    font-size: 4.167vw;
    font-weight: 500;
    color: #fff;
    z-index: 11;
    background: url("../images/icon/btnClose_left_searchBar.png") no-repeat left 50%;
    background-size: 3.75vw auto;
  }
  .left-searchBar-container .btnClose_left_searchBar:link,
  .left-searchBar-container .btnClose_left_searchBar:visited {
    color: #fff;
  }

  .left-searchBar-container .btn_Complete {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 22.361vw;
    padding: 4.861vw 3.056vw;
    background: #fff;
    box-sizing: border-box;
    z-index: 11;
  }
  .left-searchBar-container .btn_Complete p {
    width: 81.806vw;
    line-height: 12.639vw;
    font-size: 4.167vw;
    font-weight: 600;
    color: #000;
    text-align: center;
    background: #f69412;
    border: 1px solid #965b0c;
    border-radius: 0.556vw;
  }

  .left-searchBar {
    height: 116vw;
    overflow-y: auto;
  }
  .left-searchBar dl {
    padding: 3.472vw 6.111vw;
    border-bottom: 1px solid #e5e5e5;
  }
  .left-searchBar dl:last-child {
    border: none;
  }
  .left-searchBar dl dt,
  .left-searchBar dl dt a {
    font-size: 4.444vw;
  }
  .left-searchBar dl dt a {
    background: url("../images/icon/icon-toggle-up-border.png") no-repeat 98% 50%;
    /* background-size: 7.222vw auto; */
  }
  .left-searchBar dl dt.down a {
    background: url("../images/icon/icon-toggle-down-border.png") no-repeat 98% 50%;
  }

  .left-searchBar dl dd {
    padding: 3.472vw 0 0.694vw;
  }
  .left-searchBar dl dd .search-area {
    height: 10.556vw;
  }
  .left-searchBar dl dd .search-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left-searchBar dl dd .search-area input[type="search"] {
    width: 73%;
    height: 100%;
    padding: 0 1.389vw;
    font-size: 3.889vw;
  }
  .left-searchBar dl dd .search-area .btn_sub_search {
    font-size: 3.472vw;
    border-radius: 0.556vw;
  }

  .left-searchBar dl dd .common-datePicker {
    height: 10.556vw;
  }

  .left-searchBar dl dd .common-checkbox li {
    padding: 1.389vw 0;
  }

  /* 우측 : DB 검색 컨텐츠 */
  .db_search_container {
    width: 100%;
    padding: 5.972vw 6.111vw 8.75vw;
    box-sizing: border-box;
  }
  .db_search_container .mb_db_search_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2.361vw;
  }
  .db_search_container .mb_db_search_top p {
    font-size: 4.444vw;
    font-weight: 600;
    color: #382205;
  }
  .db_search_container > dl {
    margin: 0 0 1.25vw;
  }
  .db_search_container > dl > dt {
    padding: 4.167vw 5.833vw;
    font-size: 4.028vw;
  }
  .db_search_container > dl > dt > a {
    display: block;
    font-size: 4.028vw;
  }
  .db_search_container > dl > dt > a > span {
    font-size: 4.028vw;
  }
  .db_search_container > dl > dd {
    line-height: 1.88;
    padding: 16px 22px;
    font-size: 13px;
    font-weight: 500;
    color: #555;
    word-break: keep-all;
    border-top: 1px solid #ccc;
  }
  .db_search_container dl > dd > .text-wrap p {
    font-size: 16px;
    line-height: 1.6;
  }

  .link_list {
    margin: 0 0 27px;
  }
  .link_list li {
    border-bottom: 1px solid #cccccc;
  }
  .link_list li a {
    padding: 21px 0;
    display: block;
    font-size: 16px;
    color: #555555;
  }
  .link_list li:first-child a {
    padding-top: 0;
  }
  .link_list li p {
    font-size: 16px;
  }
  /* ellipsis line_2/line_3 */
  .link_list li p.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }
  .link_list li p.ellipsis.line_1 {
    -webkit-line-clamp: 1;
  }
  .link_list li p.ellipsis.line_2 {
    -webkit-line-clamp: 2;
  }
  .link_list li p.ellipsis.line_3 {
    -webkit-line-clamp: 3;
  }
  .link_list li a p span {
    color: #000;
  }
  .link_list li a strong {
    color: #1642b7;
  }
  .db_search_container dl > dd > .common-btn.more-btn {
    margin: 0 0 22px 0;
  }
  .link_list.img_list li {
    padding: 0 0 26px;
  }
  .link_list.img_list li:not(:first-child) {
    padding: 26px 0 0;
  }
  .link_list.img_list .profile-wrap {
    display: flex;
    align-items: center;
    margin: 0 0 18px;
  }
  .link_list.img_list .profile-wrap .img-wrap {
    width: 96px;
    height: 96px;
    margin: 0 11px 0 0;
  }
  .link_list.img_list .profile-wrap .img-wrap img {
    min-width: 96px;
    min-height: 96px;
  }
  .link_list.img_list .profile-wrap .text-wrap {
    width: calc(100% - (96px + 11px));
  }

  .link_list.img_list .profile-wrap .text-wrap p {
    font-size: 14px;
    line-height: 1.5;
  }
  .link_list.img_list .profile-wrap .text-wrap .common-btn {
    justify-content: flex-start;
    margin: 10px 0 0;
  }
  .link_list.img_list .profile-wrap .text-wrap .common-btn button {
    margin: 0;
  }

  /* --------------------------------------------------------------
    mobile_02_02_디비검색 : 상세 – 1
  --------------------------------------------------------------*/
  /* 좌측 기관 상세 */
  .mobile-tab {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c7770c;
  }
  .mobile-tab a {
    flex: 1 0 50%;
    line-height: 12.5vw;
    font-size: 4.167vw;
    font-weight: 500;
    color: #382205;
    text-align: center;
    background: #f7f7f7;
    border: 1px solid #e5e5e5;
  }
  .mobile-tab a.on {
    font-weight: 600;
    background: #f69412;
    border: 1px solid #c7770c;
  }
  .left_resource_container {
    width: 100%;
    padding: 6.111vw;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
  }
  .left_resource_container .s-title {
    padding: 0 0 2.083vw;
    font-size: 4.444vw;
  }
  .left_resource_container .s-title span {
    font-size: 3.056vw;
  }
  .left_resource_container .introduce-agency {
    margin: 0 0 25px;
    border-radius: 0.556vw;
    border-bottom: 1px solid #707070;
  }
  .left_resource_container .introduce-agency .img-area img {
    width: 100%;
  }
  .left_resource_container .introduce-agency .img-area .btn-chat {
    position: relative;
    right: auto;
    bottom: auto;
    display: block;
    width: 100%;
    line-height: 8.056vw;
    margin: 1.667vw 0 0;
    padding: 0 0 0 3.472vw;
    font-size: 3.472vw;
    text-align: center;
    background: url("../images/icon/icon-tell.png") no-repeat 33.889vw 50% rgba(0, 0, 0, 0.7);
    border-radius: 0.556vw;
  }
  .left_resource_container .introduce-agency .img-area .logo-area {
    position: absolute;
    left: 1.944vw;
    top: 1.944vw;
    width: 14.667vw;
    z-index: 2;
  }

  .left_resource_container .introduce-agency dl {
    padding: 5.139vw 0 6.25vw;
    background: none;
  }
  .left_resource_container .introduce-agency dl dt {
    padding: 0 0 3.194vw;
    font-size: 4.167vw;
  }
  .left_resource_container .introduce-agency dl dd {
    line-height: 6.389vw;
    font-size: 3.889vw;
  }

  .left_resource_container .introduce-text {
    padding: 0 0 6.111vw;
  }
  .left_resource_container .introduce-text dl {
    margin: 0 0 1.944vw 0;
  }
  .left_resource_container .introduce-text dl dt {
    padding: 0 0 0.972vw;
    font-size: 3.889vw;
  }
  .left_resource_container .introduce-text dl dd {
    line-height: 6.389vw;
    padding: 0 0 0 10px;
    font-size: 3.333vw;
  }
  .left_resource_container .introduce-text .common-table-wrapper .horizen {
    font-size: 3.333vw;
  }
  .left_resource_container .introduce-text .common-table-wrapper .horizen tr td {
    padding: 2.361vw 0;
    font-size: 2.778vw;
  }
  .left_resource_container .introduce-text > ul > li {
    margin: 0 0 2.083vw;
    font-size: 3.333vw;
  }
  .left_resource_container .introduce-text > ul > li p {
    padding: 1.389vw 0 0;
  }

  /* 우측 영역 및 탭 */
  .right_resource_container {
    display: none;
    width: 100%;
    padding: 22px 6.111vw;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
  }
  .right_resource_container .sub-contents-tab {
    display: flex;
    align-items: center;
    margin: 0 0 20px;
  }
  .right_resource_container .sub-contents-tab a {
    display: block;
    flex: 1 1 25%;
    height: 34px;
    line-height: 30px;
    font-size: 13px;
    font-weight: 500;
    color: #382205;
    text-align: center;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #f69412;
    box-sizing: border-box;
  }
  .right_resource_container .sub-contents-tab a.current {
    font-weight: 600;
    color: #f69412;
    border: 2px solid #f69412;
    border-bottom: none;
  }

  .right_resource_container .db_search_container {
    padding: 0 0 8.75vw;
  }

  .common-gallery-wrapper.type2 > ul {
    padding: 0;
  }
  .common-gallery-wrapper.type2 > ul > li > a .gallery-list {
    line-height: 1.6;
  }
  .common-gallery-wrapper.type2 > ul > li > a .gallery-list .subject {
    padding: 0;
    color: #382205;
  }
  .common-gallery-wrapper.type2 > ul > li > a .gallery-list .name {
    padding: 0;
    font-weight: 400;
    color: #382205;
  }
  .common-gallery-wrapper.type2 > ul > li > a .gallery-list .date {
    font-weight: 400;
    color: #382205;
  }

  /* --------------------------------------------------------------
    mobile_03_01_지식자료 – 1 
  -------------------------------------------------------------- */
  .knowlege_data_container {
    padding: 0;
  }
  .knowlege_data_container dl {
    padding: 0 6.111vw;
    border: none;
  }
  .knowlege_data_container dl dt {
    padding: 6.111vw 0 3.472vw;
  }
  .knowlege_data_container dl dd {
    padding: 16px 0;
  }

  /* --------------------------------------------------------------
    mobile_04_01_커뮤니티
  -------------------------------------------------------------- */
  .community-wrapper {
    background: #fff;
  }
  .community-wrapper .common-board-status {
    margin: 0;
  }
  .community-wrapper .common-board-status .common-selectBox .main-selectBox > li .sub-selectBox {
    top: 10.972vw;
  }
  .community-wrapper .common-table-wrapper {
    padding: 4.306vw 6.111vw;
  }
  .community-wrapper .common-table-wrapper .board colgroup col:nth-child(1),
  .community-wrapper .common-table-wrapper .board colgroup col:nth-child(3),
  .community-wrapper .common-table-wrapper .board colgroup col:nth-child(4) {
    display: none;
  }
  .community-wrapper .common-table-wrapper .board colgroup col:nth-child(5) {
    width: 20%;
  }

  .community-wrapper .common-table-wrapper .board tr th:nth-child(1),
  .community-wrapper .common-table-wrapper .board tr th:nth-child(3),
  .community-wrapper .common-table-wrapper .board tr th:nth-child(4),
  .community-wrapper .common-table-wrapper .board tr td:nth-child(1),
  .community-wrapper .common-table-wrapper .board tr td:nth-child(3),
  .community-wrapper .common-table-wrapper .board tr td:nth-child(4) {
    display: none;
  }

  .community-wrapper .common-table-wrapper .board tr th:nth-child(2),
  .community-wrapper .common-table-wrapper .board tr td:nth-child(2) {
    border-left: none;
  }

  .community-wrapper .table-bottom {
    position: absolute;
    left: 0;
    padding: 0 6.111vw;
    top: 18.75vw;
    box-sizing: border-box;
  }

  /*--------------------------------------------------------------
    * mobile_04_01_커뮤니티 – View 
  --------------------------------------------------------------*/
  .community-view-wrapper .board-view-top {
    padding: 5.556vw 6.111vw;
  }
  .community-view-wrapper .board-view-top .subject {
    font-size: 4.028vw;
    margin: 0 0 3.472vw;
  }
  .community-view-wrapper .board-view-top .view-info {
    justify-content: flex-start;
  }
  .community-view-wrapper .board-view-top .view-info > p {
    display: none;
  }
  .community-view-wrapper .board-view-top .view-info ul {
    font-size: 3.333vw;
  }
  .community-view-wrapper .board-view-top .view-info ul li {
    margin: 0 4.167vw 0 0;
  }
  .community-view-wrapper .board-view-top .view-info ul li:not(:last-child):after {
    right: -2.361vw;
    height: 3.333vw;
  }

  .community-view-wrapper .board-view-middle .view-content {
    padding: 6.111vw;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-total {
    padding: 5.556vw 6.111vw 2.778vw;
    font-size: 3.333vw;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area {
    padding: 0 6.111vw;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li {
    padding: 5.556vw 0;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li > .name {
    padding: 0 0 3.472vw;
    font-size: 4.028vw;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li > .name span {
    font-size: 3.056vw;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li > .content {
    line-height: 6.389vw;
    font-size: 4.028vw;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li > .view-btn {
    position: relative;
    right: auto;
    top: auto;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li .view-btn {
    padding: 1.389vw 0 0;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li .view-btn button {
    position: relative;
    padding: 0 1.667vw;
    font-size: 3.611vw;
  }
  .community-view-wrapper
    .board-view-middle
    .view-comment
    .comment-area
    > li
    .view-btn
    button:not(:first-child)::before {
    left: -0.694vw;
    top: 1.389vw;
    width: 2px;
    height: 3.333vw;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li .recomment-area {
    padding: 0 0 0 1.389vw;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li .recomment-area > li {
    padding: 5.556vw 0 0 4.861vw;
    background-position: left 5.556vw;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li .recomment-area > li .name {
    font-size: 4.028vw;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li .recomment-area > li .name span {
    font-size: 3.056vw;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li .recomment-area > li .view-btn {
    padding: 1.389vw 0 0;
  }

  .community-view-wrapper .board-view-middle .view-comment .comment-area > li .write-recomment {
    margin: 4.167vw 0 0;
    padding: 3.472vw 4.167vw;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li .write-recomment .name {
    padding: 0 0 1.389vw;
    font-size: 4.028vw;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li .write-recomment textarea {
    font-size: 4.028vw;
    border-bottom: none;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li .write-recomment .txt-num {
    right: auto;
    top: auto;
    left: 6.111vw;
    bottom: 4.167vw;
    font-size: 3.333vw;
  }
  .community-view-wrapper .board-view-middle .view-comment .comment-area > li .write-recomment .common-btn {
    margin: 2.778vw 0 0;
  }
  .community-view-wrapper .board-view-middle .view-comment > .common-btn {
    margin: 4.167vw 0;
  }
  .community-view-wrapper .board-view-middle .view-comment > .common-btn button {
    width: calc(100vw - 12.222vw);
  }

  .community-view-wrapper .board-view-bottom {
    padding: 4.861vw 6.111vw;
  }
  .community-view-wrapper .board-view-bottom textarea {
    padding: 3.333vw;
    font-size: 4.028vw;
  }
  .community-view-wrapper .board-view-bottom .txt-num {
    right: auto;
    top: auto;
    left: 10.278vw;
    bottom: 10.972vw;
    font-size: 3.333vw;
  }
  .community-view-wrapper .board-view-bottom .common-btn {
    position: absolute;
    right: 10.278vw;
    bottom: 9.722vw;
  }

  /*--------------------------------------------------------------
    * mobile_05_01_트랜드 – 1 
  --------------------------------------------------------------*/
  .trend-container {
    border: 1px solid #e5e5e5;
  }
  .trend-container .total {
    height: 15.278vw;
    padding: 0 6.111vw;
  }
  .trend-container .total p {
    font-size: 4.028vw;
  }
  .trend-container .total .num-view {
    font-size: 3.333vw;
    padding-right: 4.167vw;
  }

  .trend-container ul {
    padding: 0 6.111vw;
  }
  .trend-container ul li {
    padding: 5.556vw 0;
  }
  .trend-container ul li .subject {
    padding: 0 0 2.778vw;
    font-size: 4.167vw;
    border-bottom: 1px solid #f3f3f3;
  }
  .trend-container ul li .content {
    padding: 4.167vw 0 2.778vw;
    font-size: 3.889vw;
  }
  .trend-container ul li .addition {
    display: block;
    font-size: 3.611vw;
  }
  .trend-container ul li .addition span {
    display: block;
    padding: 0.972vw 3.472vw 0 0;
  }
  .trend-container ul li .addition span b {
    font-weight: 500;
  }

  /*--------------------------------------------------------------
    * mobile_06_01_제품정보 – 1
  --------------------------------------------------------------*/
  .product-view-info {
    display: block;
    background: #fff;
    border: 1px solid #e5e5e5;
  }

  .common-gallery-wrapper .gallery-title {
    line-height: 15.278vw;
    padding: 0 6.111vw;
    font-size: 4.028vw;
  }
  .common-gallery-wrapper > ul {
    padding: 1.528vw 6.111vw;
  }

  .common-gallery-wrapper > ul > li {
    padding: 3.75vw 0;
    margin: 0;
    border-bottom: 1px solid #cecece;
  }
  .common-gallery-wrapper > ul > li > a {
    align-items: stretch;
  }
  .common-gallery-wrapper > ul > li > a .gallery-img {
    margin: 0.972vw 2.778vw 0 0;
  }
  .common-gallery-wrapper > ul > li > a .gallery-list .subject {
    padding: 0 0 1.667vw;
    font-size: 3.889vw;
    word-break: keep-all;
  }
  .common-gallery-wrapper > ul > li > a .gallery-list .name {
    padding: 0;
    font-size: 3.611vw;
  }
  .common-gallery-wrapper > ul > li > a .gallery-list .date {
    font-size: 3.333vw;
  }

  /* --------------------------------------------------------------
    * mobile_08_01_Biz상담 
  -------------------------------------------------------------- */
  .biz-wrapper .horizen thead th:nth-child(1),
  .biz-wrapper .horizen thead th:nth-child(3),
  .biz-wrapper .horizen thead th:nth-child(4),
  .biz-wrapper .horizen thead th:nth-child(5),
  .biz-wrapper .horizen tbody td:nth-child(1),
  .biz-wrapper .horizen tbody td:nth-child(3),
  .biz-wrapper .horizen tbody td:nth-child(4),
  .biz-wrapper .horizen tbody td:nth-child(5),
  .biz-wrapper .horizen colgroup col:nth-child(1),
  .biz-wrapper .horizen colgroup col:nth-child(3),
  .biz-wrapper .horizen colgroup col:nth-child(4),
  .biz-wrapper .horizen colgroup col:nth-child(5) {
    display: none;
  }
  .biz-wrapper .horizen colgroup col:nth-child(6) {
    width: 23%;
  }
  .biz-wrapper .horizen tbody td {
    padding: 3.611vw 0;
  }
  .biz-wrapper .horizen tbody td.left {
    max-width: 100px;
    padding: 3.611vw 4.167vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  /*--------------------------------------------------------------
    * mobile_11_01_로그인
  --------------------------------------------------------------*/
  #sub-login-container {
    position: relative;
    height: 168.889vw;
    background-size: auto 120%;
    border-top: 6px solid #000;
  }
  .login-wrapper {
    position: absolute;
    left: 50%;
    top: 16.667vw;
    width: 90vw;
    height: auto;
    padding: 10.417vw 9.028vw 11.111vw;
    border-radius: 1.389vw;
  }
  .login-wrapper dl {
    text-align: center;
  }
  .login-wrapper dl dt {
    padding: 0 0 9px;
    font-size: 5.278vw;
  }
  .login-wrapper dl dd {
    padding: 0;
    font-size: 3.889vw;
    word-break: keep-all;
  }
  .login-wrapper ul {
    padding: 6.944vw 0 0;
  }
  .login-wrapper ul li {
    margin: 0 0 4.167vw;
  }
  .login-wrapper ul li label {
    display: block;
    padding: 0 0 1.389vw;
    font-size: 3.889vw;
  }
  .login-wrapper ul li input[type="text"],
  .login-wrapper ul li input[type="password"] {
    height: 10.972vw;
  }
  .login-wrapper .common-btn.two {
    margin: 2.778vw 0 6.944vw;
  }
  .login-wrapper .copy {
    font-size: 2.778vw;
  }

  /*--------------------------------------------------------------
    * 1100_web_12_01_아이디비번찾기
  --------------------------------------------------------------*/
  .find-idpw-container {
    display: block;
  }
  .find-idpw-container .login-wrapper {
    position: absolute;
    left: 50%;
    top: 24.722vw;
    margin: 0;
    transform: translateX(-50%);
  }
  .find-idpw-container .login-wrapper:last-child {
    display: none;
  }

  .find-idpw-container .login-tab {
    position: absolute;
    left: 50%;
    top: 11.806vw;
    display: flex;
    align-content: center;
    width: 90vw;
    padding: 0 0 0 3.75vw;
    transform: translateX(-50%);
    box-sizing: border-box;
  }
  .find-idpw-container .login-tab a {
    display: inline-block;
    width: 27.778vw;
    line-height: 12.917vw;
    margin: 0 0.208vw;
    font-size: 3.611vw;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1.389vw 1.389vw 0 0;
  }
  .find-idpw-container .login-tab a.on {
    color: #0b0b0b;
    background: rgba(255, 255, 255, 0.9);
  }
}
