@charset "utf-8";

/*--------------------------------------------------------------
  sub Body
--------------------------------------------------------------*/
#sub-body {
  position: relative;
  background: #f8f8f8;
}

/*--------------------------------------------------------------
  Sub Visual
--------------------------------------------------------------*/
.subVisual-container {
  position: relative;
  display: block;
  height: 220px;
  overflow: hidden;
}
.subVisual-container:after {
  position: absolute;
  left: 50%;
  top: -40px;
  content: "";
  width: 150%;
  height: 150%;
  transform: translateX(-50%) scale(0.85) skew(0deg, -2deg);
  animation: ani-suvVisual 5s 0.4s forwards;
  z-index: 1;
  background-size: contain;
}
.subVisual-container.sub-bg02 {
  height: 408px;
}
.subVisual-container.sub-bg02:after {
  background: url("../images/sub/sub-visual02.png") no-repeat 50% top, #171717;
}
.subVisual-container.sub-bg02_1:after {
  background: url("../images/sub/sub-visual02.png") no-repeat 50% top, #171717;
}
.subVisual-container.sub-bg03:after {
  background: url("../images/sub/sub-visual03.png") no-repeat 50% 50%, #171717;
}
.subVisual-container.sub-bg04:after {
  background: url("../images/sub/sub-visual04.png") no-repeat 50% 50%, #171717;
}
.subVisual-container.sub-bg05:after {
  background: url("../images/sub/sub-visual05.png") no-repeat 50% 50%, #171717;
}
.subVisual-container.sub-bg06:after {
  background: url("../images/sub/sub-visual06.png") no-repeat 50% 50%, #171717;
}
.subVisual-container.sub-bg07:after {
  background: url("../images/sub/sub-visual07.png") no-repeat 50% 50%, #171717;
}

@keyframes ani-suvVisual {
  100% {
    transform: translateX(-50%) scale(0.9) skew(0deg, 0deg);
  }
}

.subVisual-container .subVisual-wrapper {
  position: relative;
  height: 220px;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #000 50%, rgba(0, 0, 0, 0));
  box-sizing: border-box;
  z-index: 2;
}
.subVisual-container .subVisual-wrapper .sub-title {
  padding: 67px 0 10px;
  font-size: 30px;
  font-weight: 600;
}
.subVisual-container .subVisual-wrapper .sub-introText {
  font-size: 20px;
  font-weight: 500;
}

.subVisual-container .subVisual-search {
  margin: 35px 0 0;
}

/*--------------------------------------------------------------
  Sub layout
--------------------------------------------------------------*/
#sub-contents-container {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding: 28px 0 60px;
}
#sub-contents-container .sub-contents-title {
  margin: 0 0 17px;
  font-size: 17px;
  font-weight: 600;
  color: #382205;
}
#sub-contents-container .sub-contents-title span {
  font-size: 12px;
  font-weight: 500;
}
#sub-contents-container .sub-contents-title span b.red {
  color: #bf0000;
}
#sub-contents-container .sub-contents-wrapper {
  display: flex;
  justify-content: space-between;
}
#sub-contents-container .sub-contents-wrapper.bg {
  background: #fff;
  border: 1px solid #e5e5e5;
}
#sub-contents-container .sub-contents-wrapper .sub-right-contents {
  width: 736px;
  min-height: 500px;
}
#sub-contents-container .sub-contents-wrapper .sub-right-contentsbg {
  background: #fff;
  border: 1px solid #e5e5e5;
}

/*--------------------------------------------------------------
  Lnb
--------------------------------------------------------------*/
#lnb {
  width: 226px;
}
#lnb dl {
  padding: 0 0 40px;
  background: #fff;
}
#lnb dl dt {
  line-height: 47px;
  margin: 0 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background: #524232;
}
#lnb dl dd a {
  display: block;
  line-height: 38px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 500;
  color: #848484;
}
#lnb dl dd a.current {
  font-size: 18px;
  font-weight: 600;
  color: #2c2c2c;
}

/*--------------------------------------------------------------
* 1100_web_02_02_01_디비검색 – 1 (PC) 
--------------------------------------------------------------*/
/* 좌측 : 키워드 검색 바 */
.left-searchBar {
  flex: 0 1 264px;
  padding: 16px 0;
  background: #fff;
  border: 1px solid #c1c1c1;
  box-sizing: border-box;
}
.left-searchBar dl {
  padding: 14px 20px;
  border-bottom: 1px solid #e5e5e5;
}
.left-searchBar dl dt,
.left-searchBar dl dt a {
  font-size: 16px;
  font-weight: 600;
  color: #382205;
}
.left-searchBar dl dt a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/icon/icon-toggle-up-border.png") no-repeat 98% 50%;
}
.left-searchBar dl dt.down a {
  background: url("../images/icon/icon-toggle-down-border.png") no-repeat 98% 50%;
}

.left-searchBar dl dd {
  padding: 10px 0 6px;
}
.left-searchBar dl dd .search-area {
  height: 29px;
}
.left-searchBar dl dd .search-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-searchBar dl dd .search-area input[type="search"] {
  width: 73%;
  height: 100%;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
}
.left-searchBar dl dd .search-area .btn_sub_search {
  width: 24%;
  height: 100%;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #5c3807;
  border: 1px solid #412704;
  border-radius: 4px;
  box-sizing: border-box;
}

.left-searchBar dl dd .common-datePicker {
  height: 32px;
}

.left-searchBar dl dd .common-checkbox li {
  padding: 3px 0;
}

/* 우측 : DB 검색 컨텐츠 */
.db_search_container dl > dd > .text-wrap p {
  font-size: 16px;
  line-height: 1.6;
}
.db_search_container dl > dd > .link_list li:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}
.db_search_container dl > dd > .link_list li a {
  padding: 21px 0;
  display: block;
  font-size: 16px;
  color: #555555;
}
.db_search_container dl > dd > .link_list li:first-child a {
  padding-top: 0;
}
.db_search_container dl > dd > .link_list li p {
  font-size: 16px;
}
/* ellipsis line_2/line_3 */
.db_search_container dl > dd > .link_list li p.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.db_search_container dl > dd > .link_list li p.ellipsis.line_1 {
  -webkit-line-clamp: 1;
}
.db_search_container dl > dd > .link_list li p.ellipsis.line_2 {
  -webkit-line-clamp: 2;
}
.db_search_container dl > dd > .link_list li p.ellipsis.line_3 {
  -webkit-line-clamp: 3;
}
.db_search_container dl > dd > .link_list li a p span {
  color: #000;
}
.db_search_container dl > dd > .link_list li a strong {
  color: #1642b7;
}
.db_search_container dl > dd > .common-btn.more-btn {
  margin: 0 0 22px 0;
}
.db_search_container dl > dd > .link_list.img_list li {
  padding: 0 0 26px;
}
.db_search_container dl > dd > .link_list.img_list li:not(:first-child) {
  padding: 26px 0 0;
}
.db_search_container dl > dd > .link_list.img_list .profile-wrap {
  display: flex;
  align-items: center;
  margin: 0 0 18px;
}
.db_search_container dl > dd > .link_list.img_list .profile-wrap .img-wrap {
  width: 96px;
  height: 96px;
  margin: 0 11px 0 0;
}
.db_search_container dl > dd > .link_list.img_list .profile-wrap .img-wrap img {
  min-width: 96px;
  min-height: 96px;
}
.db_search_container dl > dd > .link_list.img_list .profile-wrap .text-wrap {
  width: calc(100% - (96px + 11px));
}

.db_search_container dl > dd > .link_list.img_list .profile-wrap .text-wrap p {
  font-size: 14px;
  line-height: 1.5;
}
.db_search_container dl > dd > .link_list.img_list .profile-wrap .text-wrap .common-btn {
  justify-content: flex-start;
  margin: 10px 0 0;
}
.db_search_container dl > dd > .link_list.img_list .profile-wrap .text-wrap .common-btn button {
  margin: 0;
}

/*--------------------------------------------------------------
* 1100_web_04_01_커뮤니티 – 1 (PC) 
--------------------------------------------------------------*/
.community-wrapper .common-board-status {
  margin: 0 0 10px;
}

/*--------------------------------------------------------------
* 1100_web_06_01_제품정보 – 1 (PC) 
--------------------------------------------------------------*/
.product-info-wrap {
  display: block;
  background: #fff;
  border: 1px solid #e5e5e5;
}

.common-gallery-wrapper .gallery-title {
  line-height: 53px;
  padding: 0 22px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid #707070;
}
.common-gallery-wrapper > ul {
  padding: 22px;
}

.common-gallery-wrapper > ul > li {
  margin: 0 0 27px;
}
.common-gallery-wrapper > ul > li > a {
  display: flex;
  align-items: center;
}
.common-gallery-wrapper > ul > li > a .gallery-img {
  margin: 0 18px 0 0;
}
.common-gallery-wrapper > ul > li > a .gallery-list .subject {
  padding: 0 0 12px;
  font-size: 15px;
  font-weight: 600;
  color: #171717;
}
.common-gallery-wrapper > ul > li > a .gallery-list .name {
  padding: 0 0 2px;
  font-size: 14px;
  font-weight: 600;
  color: #626261;
}
.common-gallery-wrapper > ul > li > a .gallery-list .date {
  font-size: 14px;
  color: #626261;
}
