@charset "utf-8";
/*--------------------------------------------------------------
< z-index 설정 >

#mainVisual-container .mainVisual-wrapper {
  z-index: 2;
}

#mainVisual-container .mainVisual-img {
  z-index: 1;
}

#family-site .family-wrapper .FamilyStie-button-prev {
  z-index: 2;
}
#family-site .family-wrapper .FamilyStie-button-next {
  z-index: 2;
}
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  Wrap
--------------------------------------------------------------*/
#wrap {
  position: relative;
  min-width: 1100px;
}

/*--------------------------------------------------------------
  header
--------------------------------------------------------------*/
#header {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 71px 0 26px;
}

/*--------------------------------------------------------------
  logo
--------------------------------------------------------------*/
#logo img {
  width: 80%;
  vertical-align: middle;
}

/*--------------------------------------------------------------
  gnb
--------------------------------------------------------------*/
#gnb {
  display: flex;
  margin: 0 0 0 43px;
}
#gnb ul {
  display: flex;
  align-items: center;
}
#gnb ul li a {
  display: block;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.4s;
}
#gnb ul li a:hover {
  color: #f69412;
}
#gnb ul li.current a {
  color: #f69412;
}

/*--------------------------------------------------------------
  rigiht shorcut
--------------------------------------------------------------*/
#right-shortCut {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
#right-shortCut a {
  display: inline-block;
  line-height: 30px;
  margin: 0 7px;
  padding: 0 14px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #000;
  border-radius: 15px;
  transition: all 0.4s;
}
#right-shortCut a.btn_trendNews:hover {
  color: #fff;
  background: #000;
}
#right-shortCut a.btn_login:hover {
  color: #fff;
  background: #000;
}
#right-shortCut a.btn_menu {
  padding: 0;
  margin-right: 0;
  border: none;
}
#right-shortCut a.btn_menu span {
  display: block;
  width: 21px;
  height: 2px;
  margin: 3px 0;
  background: #000;
}

/*--------------------------------------------------------------
  myMenu
--------------------------------------------------------------*/
#myMenu {
  position: absolute;
  right: 22px;
  top: 90%;
  width: 214px;
  height: 700px;
  z-index: 3;
  overflow: hidden;
  box-sizing: border-box;
}
#myMenu .myMenu-wrapper {
  position: absolute;
  left: 100%;
  top: 0;
  width: 214px;
  background: #fff;
  border: 1px solid #707070;
}
#myMenu .myMenu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 49px;
  padding: 0 12px 0 16px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #464542;
}
#myMenu ul li {
  display: flex;
  align-items: center;
  line-height: 46px;
  font-size: 14px;
  font-weight: 500;
  color: #896b48;
  text-indent: 32px;
  border-top: 1px solid #ededed;
}
#myMenu ul li:first-child {
  background: url("../images/main/icon-norock.svg") no-repeat 17px 50%;
}
#myMenu ul li a {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-indent: 17px;
  background: url("../images/main/btn_next.svg") no-repeat 95% 50%;
  background-size: 20px auto;
}

/*--------------------------------------------------------------
  Main Visual
--------------------------------------------------------------*/
#mainVisual-container {
  position: relative;
  width: 100%;
  height: 640px;
  color: #fff;
  background: #000;
  overflow: hidden;
}
#mainVisual-container .mainVisual-wrapper {
  position: relative;
  width: 980px;
  margin: 0 auto;
  z-index: 2;
}
#mainVisual-container .mainVisual-wrapper .main_text {
  line-height: 1.4;
  padding: 121px 0 50px;
  font-size: 42px;
}

#mainVisual-container .mainVisual-wrapper .common-main-search {
  margin: 0 0 73px;
}

#mainVisual-container .mainVisual-wrapper .statisticsGraph-container ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 17px;
  text-align: center;
}
#mainVisual-container .mainVisual-wrapper .statisticsGraph-container ul::before {
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0.5;
}
#mainVisual-container .mainVisual-wrapper .statisticsGraph-container ul li {
  position: relative;
  flex: 1 0 16.6%;
}
#mainVisual-container .mainVisual-wrapper .statisticsGraph-container ul li::before {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  content: "";
  width: 17px;
  height: 4px;
  background: #f69412;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.84);
  transform: translate(-50%, -40%);
}
#mainVisual-container .mainVisual-wrapper .statisticsGraph-container ul li p {
  margin: 0 0 20px;
  font-size: 19px;
  font-weight: 500;
}
#mainVisual-container .mainVisual-wrapper .statisticsGraph-container ul li span {
  font-size: 22px;
  font-weight: 600;
  color: #f69412;
}

#mainVisual-container .mainVisual-img {
  position: absolute;
  right: -1120px;
  top: -320px;
  opacity: 0.3;
  z-index: 1;
  transform: scale(0.9) skew(-2deg, -2deg);
  animation: ani-mainVisual 5s 1.8s forwards;
}
@keyframes ani-mainVisual {
  100% {
    transform: scale(1) skew(0deg, 0deg);
  }
}

/*--------------------------------------------------------------
  Main Body
--------------------------------------------------------------*/
#body .boardList {
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin: 49px auto;
}
#body .boardList .board {
  position: relative;
}
#body .boardList .board .title {
  padding: 7px 2px;
  font-size: 19px;
  font-weight: 500;
  border-bottom: 2px solid #a8a8a8;
}
#body .boardList .board .btn_more {
  position: absolute;
  right: 0;
  top: 12px;
}
#body .boardList .board ul {
  padding: 16px 17px;
  border: 1px solid rgb(198, 198, 198, 0.3);
  border-top: none;
}
#body .boardList .board ul li {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #cecece;
}
#body .boardList .board ul li:last-child {
  border: none;
}
#body .boardList .board ul li a {
  display: flex;
  align-items: center;
  font-size: 16px;
}
#body .boardList .board ul li a .subject {
  padding: 0 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#body .boardList .board ul li a .date {
  font-size: 12px;
  color: #808080;
}

#body .boardList .board.board_popular {
  width: 236px;
}
#body .boardList .board.board_popular ul li a .subject {
  width: 100%;
}
#body .boardList .board.board_newTrend {
  width: 312px;
}
#body .boardList .board.board_newTrend ul li a .subject {
  width: 68%;
}
#body .boardList .board.board_news {
  width: 395px;
}
#body .boardList .board.board_news ul li a .subject {
  width: 75%;
}

/*--------------------------------------------------------------
  Family Site
--------------------------------------------------------------*/
#family-site {
  padding: 44px 0;
  background: #ededed;
}
#family-site .family-wrapper {
  position: relative;
  display: flex;
  width: 980px;
  margin: 0 auto;
}
#family-site .family-wrapper .intro_text {
  flex: 1 1 264px;
  line-height: 1.5;
  font-size: 19px;
  font-weight: 500;
  word-break: keep-all;
}

#family-site .family-wrapper .FamilyStie-Swiper {
  position: relative;
  flex: 1 0 652px;
  margin: 0 35px;
  box-sizing: border-box;
}

#family-site .family-wrapper .FamilyStie-Swiper .swiper-wrapper {
  line-height: 57px;
  text-align: center;
}

#family-site .family-wrapper .FamilyStie-button-prev {
  position: absolute;
  left: 260px;
  top: 50%;
  width: 35px;
  height: 35px;
  background: url("../images/main/btn_prev.svg") no-repeat left top;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 2;
}
#family-site .family-wrapper .FamilyStie-button-next {
  position: absolute;
  right: 0;
  top: 50%;
  width: 35px;
  height: 35px;
  background: url("../images/main/btn_next.svg") no-repeat left top;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 2;
}

/*--------------------------------------------------------------
  Footer
--------------------------------------------------------------*/
#footer {
  height: 270px;
  padding: 67px 0 0;
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  background: #464542;
  border: 1px solid #707070;
  box-sizing: border-box;
}
#footer address {
  padding: 12px 0 3px;
}
#footer .foot-privacy {
  margin: 28px 0 0;
}
#footer .foot-privacy a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}

/*--------------------------------------------------------------
  Layer PopUp : 설정 
 - container의 사이즈는 수정하지않습니다.
 - 팝업의 사이즈는 wrapper에 이중class를 추가해서 사이즈를 조절 합니다.
 - ex-class-wrapper는 예제 class입니다.
--------------------------------------------------------------*/
#layerPop-bg {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

#layerPop-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}
#layerPop-container .layerPop-wrapper {
  position: relative;
  display: none;
  background: #fff;
}
#layerPop-container .layerPop-wrapper .pop-title {
  line-height: 67px;
  padding: 0 0 0 20px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background: #464542;
}
#layerPop-container .layerPop-wrapper #btn-layerPop-close {
  position: absolute;
  right: 17px;
  top: 17px;
}
#layerPop-container .layerPop-wrapper .layerPop-inner {
  padding: 22px;
}
#layerPop-container .ex-class-wrapper {
  width: 500px;
  height: 700px;
}

/*--------------------------------------------------------------
  팝업 : 트렌드 뉴스 구독
--------------------------------------------------------------*/
#layerPop-container .trendNews-wrapper {
  width: 389px;
  height: 409px;
}
#layerPop-container .trendNews-wrapper .layerPop-inner > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  margin: 0 0 21px;
}
#layerPop-container .trendNews-wrapper ul li label {
  width: 68px;
  font-size: 15px;
  font-weight: 500;
}
#layerPop-container .trendNews-wrapper ul li input[type="text"] {
  flex-grow: 1;
  height: 35px;
}
#layerPop-container .trendNews-wrapper ul li .common-email {
  flex: 1 1 276px;
}
#layerPop-container .trendNews-wrapper ul li .common-email .main-selectBox {
  height: 35px;
  line-height: 33px;
}
#layerPop-container .trendNews-wrapper ul li .common-email .main-selectBox > li > a {
  background-position: 90% 50%;
}
#layerPop-container .trendNews-wrapper ul li .common-email .main-selectBox > li .sub-selectBox {
  top: 34px;
}

/*--------------------------------------------------------------
  팝업 : 아이디찾기 
--------------------------------------------------------------*/
#layerPop-container .findID-wrapper {
  width: 389px;
  height: 320px;
}
#layerPop-container .findID-wrapper .inner {
  padding: 0 58px;
}
#layerPop-container .findID-wrapper .inner .text {
  line-height: 30px;
  padding: 41px 0 38px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
#layerPop-container .findID-wrapper .inner .text p {
  font-size: 20px;
}

/*--------------------------------------------------------------
  반응형 : TAB
--------------------------------------------------------------*/
@media screen and (max-width: 1100px) {
  /* Wrap */
  #wrap {
    min-width: auto;
  }

  /* header */
  #header {
    padding: 71px 10px 26px;
  }

  /* gnb */
  #gnb {
    flex-grow: 1;
    margin: 0 0 0 3.9091vw;
  }
  #gnb ul {
    width: 100%;
  }
}

/*--------------------------------------------------------------
  반응형 : MOBilE : 720 
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {
  /* Wrap*/
  #wrap {
    max-width: 720px;
    width: 100%;
  }

  /* header */
  #header {
    position: relative;
    align-items: flex-start;
    max-width: 720px;
    height: 36.389vw;
    line-height: 5.833vw;
    margin: 0 auto;
    padding: 13.056vw 0 0;
    box-sizing: border-box;
  }

  /* logo */
  #logo img {
    width: 12.917vw;
    padding: 0 0 0 6.111vw;
  }

  /* gnb */
  #gnb {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 13.889vw;
    line-height: 13.889vw;
    margin: 0;
  }
  #gnb ul {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    box-sizing: border-box;
  }
  #gnb ul li {
    display: inline-block;
  }
  #gnb ul li a {
    padding: 0 1.806vw;
    font-size: 4.167vw;
  }
  #gnb ul li:first-child a {
    padding-left: 3.472vw;
  }
  #gnb ul li:last-child a {
    padding-right: 3.472vw;
  }
  #gnb ul li a:hover {
    color: #f69412;
  }
  #gnb ul li.current a {
    position: relative;
    color: #f69412;
  }
  #gnb ul li.current a:before {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: "";
    display: block;
    width: 85%;
    height: 1.111vw;
    background: #f69412;
    transform: translateX(-50%);
  }
  #gnb ul li:first-child a:before {
    transform: translateX(-43%);
  }
  #gnb ul li:last-child a:before {
    transform: translateX(-55%);
  }

  /* rigiht shorcut */
  #right-shortCut {
    padding: 0 6.111vw 0 0;
  }
  #right-shortCut a {
    line-height: 5.556vw;
    width: 15vw;
    margin: 0 0.694vw;
    padding: 0;
    font-size: 2.917vw;
    font-weight: 600;
    text-align: center;
    border: 1px solid #98958b;
    border-radius: 2.778vw;
  }
  #right-shortCut a.btn_trendNews {
    position: relative;
    text-indent: -999999999999;
    font-size: 0;
  }
  #right-shortCut a.btn_trendNews::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    content: "구독";
    font-size: 2.917vw;
    font-weight: 600;
  }
  #right-shortCut a.btn_menu {
    width: auto;
    padding: 0;
    margin-left: 2.083vw;
    margin-right: 0;
  }
  #right-shortCut a.btn_menu span {
    width: 5.556vw;
    height: 0.833vw;
    margin: 0.833vw 0;
    background: #464542;
  }

  /* Main Visual */
  #mainVisual-container {
    height: 136.667vw;
    padding: 0 6.111vw;
    box-sizing: border-box;
  }
  #mainVisual-container .mainVisual-wrapper {
    width: 100%;
  }
  #mainVisual-container .mainVisual-wrapper .main_text {
    line-height: 1.4;
    padding: 12.5vw 6.944vw 10.556vw 0;
    font-size: 6.389vw;
  }

  #mainVisual-container .mainVisual-wrapper .common-main-search {
    margin: 0 0 10.139vw;
  }

  #mainVisual-container .mainVisual-wrapper .statisticsGraph-container ul {
    flex-wrap: wrap;
    padding: 0 2.917vw;
  }
  #mainVisual-container .mainVisual-wrapper .statisticsGraph-container ul::before {
    display: none;
  }
  #mainVisual-container .mainVisual-wrapper .statisticsGraph-container ul li {
    position: relative;
    flex: 1 0 33.33%;
    margin: 2.917vw 0;
  }
  #mainVisual-container .mainVisual-wrapper .statisticsGraph-container ul li::before {
    width: 3.056vw;
    height: 0.833vw;
    border-radius: 0.694vw;
    box-shadow: 0 0.417vw 0.833vw 0 rgba(0, 0, 0, 0.84);
  }
  #mainVisual-container .mainVisual-wrapper .statisticsGraph-container ul li p {
    margin: 0 0 3.75vw;
    font-size: 3.889vw;
  }
  #mainVisual-container .mainVisual-wrapper .statisticsGraph-container ul li span {
    font-size: 4.444vw;
  }

  /*--------------------------------------------------------------
  Main Body
--------------------------------------------------------------*/
  #body .boardList {
    display: block;
    width: 100%;
    margin: 0;
    padding: 3.194vw 6.111vw 10.417vw;
    box-sizing: border-box;
  }
  #body .boardList .board {
    position: relative;
    padding: 4.167vw 0 0;
  }
  #body .boardList .board .title {
    padding: 0 0 2.222vw 0;
    font-size: 4.722vw;
    border-bottom: 0.417vw solid #a8a8a8;
  }
  #body .boardList .board .btn_more {
    width: 5vw;
    height: 5vw;
    top: 5.139vw;
  }
  #body .boardList .board .btn_more > img {
    width: 100%;
  }
  #body .boardList .board ul {
    padding: 0;
    border: none;
  }
  #body .boardList .board ul li {
    height: 12.778vw;
    line-height: 12.5vw;
  }
  #body .boardList .board ul li a {
    justify-content: space-between;
    font-size: 4.167vw;
    padding: 0 2.778vw;
  }
  #body .boardList .board ul li a .subject {
    padding: 0;
  }
  #body .boardList .board ul li a .date {
    font-size: 3.333vw;
  }

  #body .boardList .board.board_popular {
    width: 100%;
  }
  #body .boardList .board.board_newTrend {
    width: 100%;
  }
  #body .boardList .board.board_newTrend ul li a .subject {
    width: 75%;
  }
  #body .boardList .board.board_news {
    width: 100%;
  }
  #body .boardList .board.board_news ul li a .subject {
    width: 75%;
  }

  /*--------------------------------------------------------------
  Family Site
--------------------------------------------------------------*/
  #family-site {
    padding: 6.667vw 0 3.611vw;
    background: #ededed;
  }
  #family-site .family-wrapper {
    display: block;
    width: 100%;
  }
  #family-site .family-wrapper .intro_text {
    line-height: 1.5;
    font-size: 3.611vw;
    text-align: center;
    color: #535353;
  }
  #family-site .family-wrapper .intro_text br {
    display: none;
  }

  #family-site .family-wrapper .FamilyStie-Swiper {
    line-height: 14.028vw;
    margin: 0 12.917vw;
  }

  #family-site .family-wrapper .FamilyStie-Swiper .swiper-wrapper {
    text-align: center;
  }

  #family-site .family-wrapper .FamilyStie-button-prev {
    left: 6.111vw;
    top: auto;
    bottom: 3.472vw;
    width: 6.111vw;
    height: 6.111vw;
    background-size: 100% auto;
    transform: translateY(0);
  }
  #family-site .family-wrapper .FamilyStie-button-next {
    right: 6.111vw;
    top: auto;
    bottom: 3.472vw;
    width: 6.111vw;
    height: 6.111vw;
    background-size: 100% auto;
    transform: translateY(0);
  }

  /*--------------------------------------------------------------
  Footer
--------------------------------------------------------------*/
  #footer {
    height: 50.417vw;
    padding: 11.111vw 0 0;
    font-size: 3.333vw;
  }
  #footer h2 {
    width: 14.722vw;
    margin: 0 auto;
  }
  #footer h2 img {
    max-width: 100%;
    width: 100%;
  }
  #footer address {
    padding: 5.278vw 0 0;
  }
  #footer .foot-privacy {
    margin: 4.028vw 0 0;
  }

  /* */
}

/*--------------------------------------------------------------
  반응형 : MOBilE : 360 
--------------------------------------------------------------*/
@media screen and (max-width: 360px) {
  #right-shortCut a.btn_menu span {
    height: 2px;
    margin: 3px 0;
  }
}

/*--------------------------------------------------------------
  반응형 : MOBilE : 280 
--------------------------------------------------------------*/
@media screen and (max-width: 360px) {
  #right-shortCut a.btn_menu span {
    height: 2px;
    margin: 2px 0;
  }
}
