@charset "utf-8";


/*----------- 커뮤니티 상세화면
-------------------------------  */
.community-view-wrapper {
    width:100%;
}
.community-view-wrapper .header-wrap {
    width: 100%;
    padding: 30px 44px;
    box-sizing: border-box;
    background-color: #ded6cf;
}
.community-view-wrapper .header-wrap h4{
    font-size: 18px;
    color:#382205;
    margin:0 0 7px;
}
.community-view-wrapper .header-wrap .info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#382205;
}
.community-view-wrapper .header-wrap .info-wrap p {
    font-size: 14px;
}
.community-view-wrapper .header-wrap .info-wrap ul {
    display: flex;
    font-size: 14px;
}
.community-view-wrapper .header-wrap .info-wrap ul li {
    position: relative;
    margin:0 20px 0 0;
}
.community-view-wrapper .header-wrap .info-wrap ul li:last-child {
    margin:0;
}
.community-view-wrapper .header-wrap .info-wrap ul li:not(:last-child):after {
    position: absolute;
    top:50%;
    right:-10px;
    transform: translateY(-50%);
    display: block;
    content:'';
    width:1px;
    height:13px;
    background-color: #382205;
}

.community-view-wrapper .content-detail-wrap {}
.community-view-wrapper .content-detail-wrap .community-main {
    padding:45px 45px 35px;
}
.community-view-wrapper .content-detail-wrap .community-main h5 {
    font-size: 25px;
    color:#000;
}
.community-view-wrapper .content-detail-wrap .community-main .text-wrap {
    padding: 26px 0 34px 0;   
}
.community-view-wrapper .content-detail-wrap .community-main .text-wrap img {
    width:100%;
    margin:34px 0;
}
.community-view-wrapper .content-detail-wrap .community-main .menu-wrap {
    display: flex;
    justify-content: flex-end;
    
}
.community-view-wrapper .content-detail-wrap .community-main .menu-wrap li {
    margin: 0 20px 0 0;
    position: relative;
    cursor: pointer;
}
.community-view-wrapper .content-detail-wrap .community-main .menu-wrap li * {
    font-size: 15px;
}
.community-view-wrapper .content-detail-wrap .community-main .menu-wrap li:last-child {
    margin-right:0;
}
.community-view-wrapper .content-detail-wrap .community-main .menu-wrap li:not(:last-child)::after {
    position: absolute;
    top:50%;
    right:-10px;
    transform: translateY(-50%);
    display: block;
    content:'';
    width:1px;
    height:13px;
    background-color: #a8a8a8;
}
.community-view-wrapper .content-detail-wrap .community-comment {}
.community-view-wrapper .content-detail-wrap .community-comment .conetent-wrap {}
.community-view-wrapper .content-detail-wrap .community-comment .conetent-wrap li {}
.community-view-wrapper .content-detail-wrap .community-comment .textarea-wrap {}
.community-view-wrapper .content-detail-wrap .community-comment .textarea-wrap .text-wrap {}
.community-view-wrapper .content-detail-wrap .community-comment .textarea-wrap .text-wrap textarea{}
