@charset "utf-8";

/*--------------------------------------------------------------
* 1100_web_02_02_01_디비검색 – 1 (PC)
--------------------------------------------------------------*/
.db_search_container dl > dd > .text-wrap p {
    font-size: 16px;
    line-height: 1.6;
}
.db_search_container dl > dd > .link_list li:not(:last-child) {
    border-bottom: 1px solid #cccccc;
}
.db_search_container dl > dd > .link_list li a {
    padding: 21px 0 ;
    display: block;
    font-size: 16px;
    color: #555555;
}
.db_search_container dl > dd > .link_list li:first-child a {
    padding-top:0;
}
.db_search_container dl > dd > .link_list li p {
    font-size: 16px;
}
/* ellipsis line_2/line_3 */
.db_search_container dl > dd > .link_list li p.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
}
.db_search_container dl > dd > .link_list li p.ellipsis.line_1 {
    -webkit-line-clamp: 1;
}
.db_search_container dl > dd > .link_list li p.ellipsis.line_2 {
    -webkit-line-clamp: 2;
}
.db_search_container dl > dd > .link_list li p.ellipsis.line_3 {
    -webkit-line-clamp: 3;
}
.db_search_container dl > dd > .link_list li a p span {
    color: #000;
}
.db_search_container dl > dd > .link_list li a strong {
    color:#1642b7;
}
.db_search_container dl > dd > .common-btn.more-btn {
    margin: 0 0 22px 0;
}
.db_search_container dl > dd > .link_list.img_list li {
    padding:0 0 26px;
}
.db_search_container dl > dd > .link_list.img_list li:not(:first-child) {
    padding: 26px 0 0;
}
.db_search_container dl > dd > .link_list.img_list .profile-wrap {
    display: flex;
    align-items: center;
    margin: 0 0 18px;
}
.db_search_container dl > dd > .link_list.img_list .profile-wrap .img-wrap {
    width: 96px;
    height: 96px;
    margin: 0 11px 0 0;
}
.db_search_container dl > dd > .link_list.img_list .profile-wrap .img-wrap img{
    min-width:96px;
    min-height:96px;
}
.db_search_container dl > dd > .link_list.img_list .profile-wrap .text-wrap {
    width: calc(100% - (96px + 11px));
}

.db_search_container dl > dd > .link_list.img_list .profile-wrap .text-wrap p {
    font-size: 14px;
    line-height: 1.5;
}
.db_search_container dl > dd > .link_list.img_list .profile-wrap .text-wrap .common-btn {
    justify-content: flex-start;
    margin: 10px 0 0;
}
.db_search_container dl > dd > .link_list.img_list .profile-wrap .text-wrap .common-btn button {
    margin:0;
}

