@charset "UTF-8";
@use "sass:color";
@use "sass:color";

/*--------------------------------------------------------------
 * 1100_web_07_03_01_승인01~03-1 (PC)
--------------------------------------------------------------*/
/* 1100_web_07_03_01_승인01~03-1 */
/* button: 설정 (시스템 버튼) */
button.btn--system {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f8f8f8;
  border: 1px solid #646464;
  border-radius: 4px; }

/* title style */
h2.db-approval__title {
  font-size: 23px;
  line-height: 2.348; }

/* + contents.css :: sub layout */
.sub-contents.contents-db-approval {
  padding: 50px;
  /* defined flex */
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -webkit-box-direction: normal;
  -webkit-align-items: center;
  align-items: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  /* ~ defined flex */
  width: 100%;
  background-color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  /* button: 시스템 버튼 */
  /* set elements margin in contents-db-approval */ }
  .sub-contents.contents-db-approval .db-approval__state {
    margin: 0;
    padding: 7px 44px;
    position: relative;
    display: inline-block;
    width: auto;
    background-color: #000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 27px;
    font-size: 1.188em;
    color: #fff; }
    .sub-contents.contents-db-approval .db-approval__state.state--wait {
      background-color: #d9772f; }
    .sub-contents.contents-db-approval .db-approval__state.state--err {
      background-color: #d92f2f; }
    .sub-contents.contents-db-approval .db-approval__state.state--done {
      background-color: #11882d; }
  .sub-contents.contents-db-approval .db-approval__desc {
    font-size: 0.938em;
    line-height: 1.533; }
    .sub-contents.contents-db-approval .db-approval__desc p:not([class]) {
      margin: 0;
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit; }
  .sub-contents.contents-db-approval .btn--system {
    position: relative;
    margin-top: 25px; }
    .sub-contents.contents-db-approval .btn--system::before {
      content: '';
      display: block;
      position: absolute;
      top: -25px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #b7b7b7; }
  .sub-contents.contents-db-approval h2.db-approval__title {
    margin-bottom: 1rem; }
  .sub-contents.contents-db-approval .db-approval__state {
    margin-bottom: 1.375rem; }
  .sub-contents.contents-db-approval .db-approval__desc {
    margin-bottom: 1.75rem; }

/*--------------------------------------------------------------
 * ul.info-note
 - ul 리스트 스타일 (유의사항 등에서 사용)
--------------------------------------------------------------*/
ul.info-note > li,
.text-head--dot {
  position: relative;
  padding-left: 10px; }
  ul.info-note > li::before,
  .text-head--dot::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: calc($--size / 2); }

span.text-head--dot {
  display: inline-block; }

ul.info-note {
  padding: 1rem;
  position: relative;
  width: 100%;
  font-size: 1em;
  color: #767676;
  border: 1px solid #cbcbcb;
  list-style: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  ul.info-note > li {
    position: relative;
    font-size: 14px;
    line-height: 24px; }
  ul.info-note > li::before {
    top: calc((24px - 4px) / 2);
    background-color: #767676; }

/*--------------------------------------------------------------
 * contents-form :: .subcontents-wrapper 내 여백(padding) 
 - 적용 디자인 
    1100_web_07_01_01_제조사 – 1, 
    1100_web_07_03_01_R&D – 1,
    1100_web_07_02_01_진균업체 – 1 (PC)
--------------------------------------------------------------*/
.contents-form {
  color: #000;
  font-size: 1rem; }

.contents-form .sub-contents-wrapper .sub-contents {
  width: 100%; }

.contents-form {
  /* form-box > form-ent */
  /* form-submit */
  /* form-box > .form-ent (PC) */
  /* required mark */ }
  .contents-form .form-subtitle {
    margin-bottom: 20px;
    font-size: 0.938em;
    line-height: 1; }
    .contents-form .form-subtitle small {
      padding-left: 1em;
      color: #382205;
      font-size: 12px;
      font-weight: normal; }
  .contents-form .form-box {
    /* form-ent-group */
    /* 추가/삭제 그룹 */ }
    .contents-form .form-box .form-ent-group {
      position: relative;
      width: 100%; }
      .contents-form .form-box .form-ent-group[class*="block-"] {
        display: -ms-flexbox;
        display: -moz-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        -moz-box-orient: horizontal;
        -webkit-box-orient: horizontal;
        -moz-box-direction: normal;
        -webkit-box-direction: normal;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -webkit-box-lines: single;
        -moz-box-lines: single; }
        .contents-form .form-box .form-ent-group[class*="block-"]::before {
          content: '';
          position: absolute;
          display: block;
          left: 50%;
          width: 1px;
          height: 100%;
          background-color: #ddd;
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
        .contents-form .form-box .form-ent-group[class*="block-"].block-2 {
          -webkit-justify-content: space-between;
          justify-content: space-between;
          -webkit-box-pack: justify;
          -moz-box-pack: justify;
          -ms-flex-box: justify; }
          .contents-form .form-box .form-ent-group[class*="block-"].block-2 > .form-ent {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 45%;
            flex: 0 0 45%;
            width: 50%; }
          .contents-form .form-box .form-ent-group[class*="block-"].block-2 > .form-ent:nth-child(-n+2) {
            margin-top: 0; }
    .contents-form .form-box .group-inc {
      width: 100%; }
      .contents-form .form-box .group-inc > li.og {
        display: none !important; }
  .contents-form .form-ent__head {
    padding-top: calc((44px - 24px) / 2); }
    .contents-form .form-ent__head span {
      line-height: 24px; }
    .contents-form .form-ent__head span::before {
      top: calc((24px - 4px) / 2); }
  .contents-form .form-ent__input {
    /* form-ent__input > wrap */ }
    .contents-form .form-ent__input [class^="info-"], .contents-form .form-ent__input p,
    .contents-form .form-ent__input .common-textarea,
    .contents-form .form-ent__input .common-input-file, .contents-form .form-ent__input .common-keyword, .contents-form .form-ent__input .common-email,
    .contents-form .form-ent__input .common-selectBox,
    .contents-form .form-ent__input input[type="text"] {
      width: 100%; }
    .contents-form .form-ent__input .common-selectBox,
    .contents-form .form-ent__input input[type="text"] {
      height: 44px; }
    .contents-form .form-ent__input .common-selectBox {
      line-height: 44px; }
    .contents-form .form-ent__input .common-btn {
      width: auto;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-box-pack: start;
      -moz-box-pack: start;
      -ms-flex-box: start; }
    .contents-form .form-ent__input .wrap {
      width: 100%;
      display: -ms-flexbox;
      display: -moz-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      -moz-box-orient: horizontal;
      -webkit-box-orient: horizontal;
      -moz-box-direction: normal;
      -webkit-box-direction: normal;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -ms-flex-wrap: none;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple; }
      .contents-form .form-ent__input .wrap > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto; }
      .contents-form .form-ent__input .wrap.wrap-input > input[type=text], .contents-form .form-ent__input .wrap.wrap-file > .common-input-file {
        margin-right: 12px;
        -webkit-box-flex: 0;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%; }
    .contents-form .form-ent__input *:not(p) + p {
      margin-top: 20px; }
  .contents-form .form-box + .form-box,
  .contents-form .form-box .group-inc > li:not(.og) + li,
  .contents-form .form-box .form-ent + .form-ent {
    margin-top: 25px; }
  .contents-form .form-box .form-ent__input .wrap + .wrap,
  .contents-form .form-box .form-ent__input .group-inc > li:not(.og) + li {
    margin-top: 8px; }
  .contents-form .form-submit {
    margin-top: 48px; }
    .contents-form .form-submit .common-btn {
      margin: 0 auto; }
  .contents-form .form-box .form-ent {
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -webkit-box-direction: normal;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-wrap: none;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-box: justify; }
    .contents-form .form-box .form-ent__head {
      margin-right: 1rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
      flex: 0 0 120px; }
    .contents-form .form-box .form-ent__input {
      -webkit-box-flex: 0;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      display: -ms-flexbox;
      display: -moz-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -webkit-box-lines: single;
      -moz-box-lines: single; }
  .contents-form .form-subtitle.required::after,
  .contents-form .form-ent.required .form-ent__head > span::after {
    content: '*';
    color: #d92f2f; }

/* register form (등록 폼) */
.contents-form.form-register .sub-contents-wrapper {
  padding: 44px; }

/* PC -> sub-contents-wrapper 간 margin-top */
.contents-form .sub-contents-wrapper + .sub-contents-wrapper {
  margin-top: 20px; }


/*# sourceMappingURL=sung.css.map */
